{extend name="public/base_form" /}
{block name="form"}
<form action="" method="post" class="form form-horizontal" id="form-admin-add">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>顶级权限:</label>
        <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select name="parent_id" class="select">
					<option value="0">顶级分类</option>
                    {volist name="authRules" id="vo"}
					<option value="{$vo.id}">{$vo.delimiter}{$vo.title}</option>
                    {/volist}
				</select>
				</span>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>权限名称:</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input class="input-text" value="" placeholder="" id="title" name="title">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>权限地址:</label>
        <div class="formControls col-xs-8 col-sm-9">
            <textarea name="name" cols="" rows="" class="textarea"  placeholder="控制器/方法" dragonfly="true" ></textarea>
        </div>
    </div>
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <input class="btn btn-primary radius" type="button" onclick="save('{:url('AuthRule/save')}')"  value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
    </div>
</form>
{/block}
{block name="js"}
<script type="text/javascript">
    $(function () {
        $(".permission-list dt input:checkbox").click(function () {
            $(this).closest("dl").find("dd input:checkbox").prop("checked", $(this).prop("checked"));
        });
        $(".permission-list2 dd input:checkbox").click(function () {
            var l = $(this).parent().parent().find("input:checked").length;
            var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
            if ($(this).prop("checked")) {
                $(this).closest("dl").find("dt input:checkbox").prop("checked", true);
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
            }
            else {
                if (l == 0) {
                    $(this).closest("dl").find("dt input:checkbox").prop("checked", false);
                }
                if (l2 == 0) {
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
                }
            }
        });



    });
    //    function add_group(url) {
    //        var role = $("input[name='id']:checked").serializeArray();
    //        var group = $("#form-admin-add").serializeArray();
    //        var postData = {};
    //        $(role).each(function () {
    //            postData[this.value] = this.name
    //        });
    //        $(group).each(function () {
    //            postData[this.name]=this.value
    //        });
    //        $.ajax({
    //            type: 'POST',
    //            url: url,
    //            data: postData,
    //            dataType: "json",
    //            success: function (result) {
    //                if (result.status === 1) {
    //                    layer.msg(result.data, {icon: 1, time: 1000});
    //                } else {
    //                    layer.msg(result.data, {icon: 5, time: 1000});
    //                }
    //            }
    //        });
    //    }
</script>
{/block}