{extend name="public/base" /}
{block name="title"}
<title>F.A.Q管理-WINSTARS WEBSITE MANAGER CENTER</title>
{/block}
{block name="menu"}{include file="public:service_navbar" /}{/block}
{block name="nav"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    F.A.Q管理
    <span class="c-gray en">&gt;</span>
    F.A.Q列表({$language_id|getLanguage})
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
{/block}
{block name="main"}
<article class="cl pd-20" style="min-height: 51em;">
    <div class="text-c"> 问题名称：
    <input type="text" class="input-text" style="width:250px" placeholder="输入问题名称"  name="">
    <button type="submit" class="btn btn-success"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜索
    </button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    <a class="btn btn-primary radius" onclick="index_add('{$language_id|getLanguageOne}FAQ添加','{:url(\'Faq/add\',[\'language_id\'=>$language_id])}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加FAQ({$language_id|getLanguage})</a>
                </span>
        <span class="r">共有数据：<strong>{notempty name="counts"}{$counts}{/notempty}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="13">{$language_id|getLanguage}FAQ管理</th>
        </tr>
        <tr class="text-c">
            <th width="25%">问题</th>
            <th>型号</th>
            <th width="15%">分类</th>
            <th width="6%">创建时间</th>
            <th width="6%">状态</th>
            <th width="6%">排序</th>
            <th width="8%">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="faq" id="vo"}
        <tr class="text-c">
            <td class="text-l">{$vo.title}</td>
            <td class="text-l">
                {notempty name="vo.products"}
                {volist name="vo.products" id="item"}
                <span> {$item.model}</span>
                {/volist}
                {/notempty}
            </td>
            <td class="text-l">{$vo.category_id|getChild}</td>
            <td>{$vo.create_time|strtotime|date="Y-m-d",###}</td>
            <td>{$vo.status|getStatus}</td>
            <td>{$vo.sorting}</td>
            <td class="td-manage text-l">
                <a title="编辑" onclick="index_edit('更新{$language_id|getLanguageOne}','{:url(\'Faq/edit\',[\'url_title\'=>$vo.url_title,\'language_id\'=>$language_id])}')"
                   class="ml-5 btn btn-primary" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除"  onclick="" class="ml-5 btn btn-danger" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6a6;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{:pagination($faq)}</div>
</article>
<input type="hidden" value="{$language_id}" id="language">
{include file="public/explain" /}
{/block}
{block name="js"}
<script>
    var SCOPE = {
        'listorder_url':"{:url('faq/listorder')}"
    };
    $(document).ready(function () {
        $("#service_faq dt").addClass("selected");
        $("#service_faq dd").css("display", "block");
        var lan = $("input#language").val();
        var id = "#faq_answer_"+lan;
        $(id).addClass("current");
        $("#service").addClass("current");
    })
</script>
{/block}