{extend name="pc/base/base" /}
{block name="title"}
<title>{$category.seo_title} Driver Download - By winstars</title>
{/block}
{block name="seo"}
<meta name="description" content="{$category.description}">
<meta name="keywords" content="{$category.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/frontend/en-us/css/style/Product_List.css">
<link rel="stylesheet" href="__STATIC__/frontend/en-us/css/style/table_component.css">
<link rel="stylesheet" href="__STATIC__/frontend/lib/NavigationList/css/styles.css">
{/block}
{block name="search"}
<!-- Home 搜索框 -->
<div class="w-home-form-search-box absolute w100 dNone bgTrans" style="top: 100%; left: 0">
    <div class="w-home-form-search-cont clear w50 oh">
        <form action="/hello/world.html" method="get" class="clear mt5 mb5">
            <input class="fl cursorP w80 pr15 pl15 b bcWhite" type="text" name="key"  placeholder="Please enter your product name">
            <input class="fl cursorP w20 bgOrange fWhite b bcWhite" type="submit" value="search">
        </form>
    </div>
</div>
{/block}
{block name="body"}
<!-- w-Product-List-title 产品列表标题 todo:: 分模块搜索-->
<section>
    <div class="w-blog-title">
        {notempty name="$category.banner"}
        <img src="" width="100%" height="300px" alt="">
        {else /}
        <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=bea9Dh8Y4o5QBN2eqK9Rt9397xialZGJpcqtT_qxs6HHesJaNSwTwQfPebm5_2c53IuQVzs-zkRZr1h89Y5YqOGAD7QmHdBJoD1RJ_cobM6UkvYwq0A7Vn91D_9N9XDoKhltzNcMqaiclA&file_name=/about.jpg"
             width="100%" height="" alt="">
        {/notempty}
    </div>
</section>

<!-- w-Product-List- 产品列表路径 -->
<section>
    <hr style="border: 1px solid #f2f2f2">
    <div class="path-box bgWhite">
        <div class="path-cont">
            <a href="/en_us/"><i class="iconfont" style="font-size: 18px;">&#xeb1b;</i></a>> <a
                href="/en_us/support/driver.html" style="display: inline-block">SUPPORT</a>
            > <a
                href="/en_us/support/driver.html" style="display: inline-block">DRIVER</a>
            > <a href="/en_us/support/driver/{$category.url_title}.html" class="current">{$category.name}</a>
        </div>
    </div>
</section>
<!-- W-Product-List 产品列表 -->
<section class="ProductListBox mt15 mb50 clear">
    <div class="left-side fl" style="width: 22%">
        <ul class="expmenu">
            {volist name="tree" id="vo"}
            <li>
                <div class="header">
                    <span class="label">{$vo.name}</span>
                    <span class="arrow iconfont icon-arrowon fWhite"></span>
                </div>
                <span class="no">
                    <ul class="menu" style="display:block;">
                        {volist name="vo.child" id="co"}
                        <li onClick="javascript:ShowMenu(this)" class="{$co.url_title}">
                            {notempty name="co.child"}
                            <a href="javascript:void(0)" class="clear">{$co.name} <i>+</i></a>
                            {else /}
                            <a href="/en_us/support/driver/{$co.url_title}.html"> {$co.name}</a>
                            {/notempty}
                        </li>
                        <ol class="no">
                            {notempty name="co.child"}
                                {volist name="co.child" id="o"}
                                <a href="/en_us/support/driver/{$o.url_title}.html" title="{$o.name}"
                                   class="{$o.url_title}">{$o.name}</a>
                                {/volist}
                            {else}
                            {/notempty}
                        </ol>
                        {/volist}
                    </ul>
                </span>
            </li>
            {/volist}
        </ul>
    </div>
    <div class="content fl clear" style="width: 78%; padding: 0 10px 60px 10px">
        <div class="ProductList clear DisplayFlex">
            {notempty name="data"}
            <div style="padding: 30px; min-height: 800px; background: #fff; width: 100%">
                <table class="table bgWhite" style="border-bottom: 1px solid #ddd; margin-bottom: 0">
                    <thead>
                    <tr>
                        <th width="">Driver name and description</th>
                        <th width="10%">Version</th>
                        <th width="10%">Update at</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="vo"}
                    <tr>
                        <td>
                            <a href="/en_us/support/driver/details/{$vo.url_title}.html">{$vo.name}</a>
                        </td>
                        <td>{$vo.version}</td>
                        <td>{$vo.create_time|strtotime|date="m/d/Y",###}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            {else /}
            <!-- 大盒子 -->
            <div class="NoContentBox" style="width: 100%">
                <div style="margin: 0">
                    <!-- 友好提示 -->
                    <div class="NoContent bgWhite" style="box-shadow: none;">
                        <dl>
                            <dt>
                                <h3>The website upgrade is in progress</h3>
                            </dt>
                            <dd>
                                <p>no product is available right now for your reference, please keep up with our update
                                    as new products will be coming soon!</p>
                            </dd>
                            <dd>
                                <p>However, for further information, please contact our salesperson, or send us emails
                                    to <a class="dInlineBlack fOrange" href="mailto:winstars@win-star.com">winstars@win-star.com</a>,
                                    we will be glad to solve your questions instantly!</p>
                            </dd>
                            <dd>
                                <p>Thanks for your understanding!</p>
                            </dd>
                        </dl>
                    </div>
                    <!-- 盒子 -->
                    <div class="Interested mt10">
                        <!-- 主标题 -->
                        <p class="InterestedTitle pd20 f20 bgWhite tc">You might be interested</p>
                        <!-- 盒子 -->
                        <div class="InterestedChild clear">
                            <!-- 产品 -->
                            {notempty name="interested"}
                            {volist name="interested" id="vo"}
                            <div class="child relative fl" style="width: 33.333%">
                                <div class="pd10 bgWhite clear">
                                    <a href="/en_us/product/{$vo.url_title}" target="_blank"
                                       style="margin-bottom: 10px"><img class="w100" src="{$vo.album}" alt=""></a>
                                    <div class="cont w100">
                                        <h2><a class="fNomal" href="/en_us/product/{$vo.url_title}" target="_blank"
                                               style="min-height: 34px;">{$vo.name}</a></h2>
                                        <p class="f12 lh14 fGrayBlack mt20 mb20" style="min-height: 64px;"><i
                                                class="icon-tags" style="font-size: 12px"></i>
                                            {$vo.keywords|getTags}</p>
                                        <div class="btn">
                                            <a class="fl f12 fOrange" style="padding: 6px 8px"
                                               href="/en_us/product/{$vo.url_title}" target="_blank">{$vo.model}</a>
                                            <a class="fr f12 fGray" href="/en_us/product/{$vo.url_title}"
                                               target="_blank" style="padding: 6px 8px; border: 1px solid #e9e9e9">Details</a>
                                        </div>
                                    </div>
                                    <i class="icon-trophy icon-3x absolute fOrange"></i>
                                </div>
                            </div>
                            {/volist}
                            {/notempty}
                        </div>
                    </div>
                </div>
            </div>
            {/notempty}
        </div>
        <section>
            <div class="w-product-paging-box tc">
                {notempty name="data"}
                {:pagination($data)}
                {/notempty}
            </div>
        </section>
    </div>
</section>
{/block}

{block name="script"}
<script src="__STATIC__/frontend/lib/NavigationList/js/navbar.js"></script>
<script src="__STATIC__/frontend/en-us/js/minHeight/minHeight.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.support').addClass("bgOrangeWhite");
        /* 滑动/展开 */
        $("ul.expmenu li > div.header").click(function () {
            var arrow = $(this).find("span.arrow");
            if (arrow.hasClass("icon-arrowon")) {
                arrow.removeClass("icon-arrowon");
                arrow.addClass("icon-arrowdown");
            } else if (arrow.hasClass("icon-arrowdown")) {
                arrow.removeClass("icon-arrowdown");
                arrow.addClass("icon-arrowon");
            }
            $(this).parent().find("ul.menu").slideToggle();
        });
        $("." + "{$category.url_title}").addClass("navSlideBarCurrent");
        var currentParent = $(".navSlideBarCurrent").parent();
        currentParent.removeClass("no");
        currentParent.prev("li").find("i").text("-")
    });
</script>
<script>
    max($(".InterestedChild > .child > div > .cont > h2 > a"));
    max($(".InterestedChild > .child > div > .cont > p"));
    max($("div.ProductList > div > div > .cont > h2 > a"));
    max($("div.ProductList > div > div > div > p"))
</script>
{/block}