<!--包含头部文件-->
{extend name="pc/base/base" /}
{block name="title"}
<title> {$data.name}- By-winstars</title>
{/block}
{block name="seo"}
<meta name="description" content="{$data.description}">
<meta name="keywords" content="{$data.keywords}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/frontend/en-us/css/style/Product.css">
<link rel="stylesheet" href="__STATIC__/frontend/en-us/css/style/table_component.css">
<link rel="stylesheet" href="__STATIC__/frontend/en-us/css/style/table_border.css">
{/block}
{block name="body"}
<!-- w-Product 产品中心 -->
<section>
    <div class="w-product-title">
        {include file="pc/base/banner" /}
    </div>
</section>

<!-- w-product-path 产品路径 -->
<section>
    <hr style="border: 1px solid #f2f2f2">
    <div class="path-box bgWhite">
        <div class="path-cont">
            <a href="/en_us/" style="display: inline-block" class="f12">
                <i class="iconfont">&#xeb1b;</i>
            </a>
            >
            <a href="/en_us/support.html" style="display: inline-block" class="f12">SUPPORT</a> >
            <a href="/en_us/support/driver.html" style="display: inline-block" >Driver</a> >
            <a href="/en_us/support/driver/details/{$data.url_title}.html" class="current">{$data.name}</a>
        </div>
    </div>
</section>
<section style="margin-bottom: 40px; margin-top: 40px">
    <div class="ProductBox">
        <div class="ProductRow">
            <div class="ProductList  clear">
                <div style="background: #fff; width: 100%; padding: 3%">
                    <table class="table bgWhite" style="border-bottom: 1px solid #ddd; margin-bottom: 0">
                    <caption>
                        <h2>Driver Details and Download</h2>
                    </caption>
                    <tbody>
                    <tr>
                        <th width="20%">Driver Name</th>
                        <td>{$data.name}</td>
                    </tr>
                    <tr>
                        <th scope="row">Version</th>
                        <td>{$data.version}</td>
                    </tr>
                    <tr>
                        <th scope="row">Update At</th>
                        <td>{$data.create_time|strtotime|date="m/d/Y",###}</td>
                    </tr>
                    <tr>
                        <th scope="row">Support Product</th>
                        <td>
                            {notempty name="data.products"}
                            {volist name="data.products" id="vo"}
                            <span>{$vo.model}</span>
                            {/volist}
                            {else /}
                            If you lost the user guide and CD driver, you can turn to driver download online here. When you find no applicable model written in “Support Product”, please contact us via email to tech@win-star.com to get information, and we will tell you which one is suitable for your product.
                            {/notempty}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Download Link</th>
                        <td>
                            {notempty name="data.downloads"}
                            {volist name="data.downloads" id="vo"}
                            <a class="btn complexThemeColor" href="{$vo.url}"
                               style="display: inline-block">{$vo.requirement}
                                <i class="iconfont icon-xiazai"></i>
                            </a>
                            {/volist}
                            {/notempty}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>* Software update is usually for optimizing the product to support in special environments and applications. If your product works properly, it is not recommended to upgrade your product.</p>
                            <p>* If you find the links are invalid or any other issues, please email to tech@win-star.com to make feedback or contact online customer service, thank you.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

    </div>
</section>
{/block}
{block name="script"}
<script>
    $(document).ready(function () {
        $('.support').addClass("complexThemeColor");
        $(document).click(function(){
            // 下拉垂暮按钮
            hammer_screen_btn.find("a").removeClass("complexThemeColor");
            $('.support').addClass("complexThemeColor");
        });
    })
</script>
{/block}

