/**
* @name: public.less
* @description: win-star.com 手机端 头部导航、页脚 布局样式
* @author: huang(1367428189@qq.com)
* @update: 2019-09-7 9:30
*/
//header、footer样式
//Iconfont阿里巴巴矢量图标库
@import "../style_reset/reset.css";
//手机端基础样式重置
@import "../public_class/mixins";
@import "../public_class/variables";

@font-face {
  font-family: Neo_Sans;
  //src: url("../../../mobile/../en-us/fonts/Neo_Sans.ttf");
  src: url("../../../en-us/fonts/Neo_Sans.ttf");
}

body {
  background: @bodyBackground;
  font-size: 14px;
  font-family: Neo_Sans, "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;;
}
/* markdown */
.markdown-body {
  font-size: 14px;
  font-family: Neo_Sans, "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif !important;
}

img {
  .img-responsive();
  .center-block();
}

//header开始
header {
  .nav-bar {
    position: relative;
    height: 50px;
    padding: 0 @publicInterval;
    border-bottom: 1px solid @borderColor;
    background: @whiteColor;
  }
  .nav-bar .menu-bar {
    .fl();
    span {
      left: 0;
    }
  }
  .nav-bar .logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -62px;
    padding: 8px 0;
    img {
      height: 34px;
    }
  }
  .nav-bar .search-bar {
    .fr();
    .iconfont {
      display: block;
      line-height: 50px;
      font-size: 24px;
    }
  }
  .search-container {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 0 @publicInterval;
    background: #fff;
    form {
      .clearFix();
      margin: 11px 0;
      display: flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      justify-content: center;
    }
    form input {
      .fl();
      height: 30px;
      padding: 0 @publicInterval;
      border: 1px solid @activeColor;
      &[type="text"] {
        width: 80%;
        border-right: none;
        #border-radius(5px 0 0 5px);
      }
      &[type="submit"] {
        width: 50px;
        border-left: none;
        background: @activeColor;
        color: @whiteColor;
        #border-radius(0 5px 5px 0);
      }
    }
  }
}
//header结束

//footer开始
footer {
  margin-top: 60px;
  padding-bottom: 0;
  .about {
    background: #333;
    padding: 40px @publicInterval;
    

    .about-item {
      padding: 0 5px;
      border-bottom: 1px solid #5a5656;
    }
    .about-item h3 {
      position: relative;
      height: 50px;
      line-height: 50px;
      color: #888;
      font-size: 14px;
    }
    .about-item h3 span {
      position: absolute;
      top: 0;
      right: 0;
    }
    .about-item ul {
      display: none;
      padding: 0 @publicInterval;
    }
    .about-community ul {
      display: block;
    }
    .about-item ul a {
      display: block;
      line-height: 25px;
      color: #888;
      font-size: 12px;
    }
    .about-item ul a .iconfont {
      padding: 0 @publicInterval;
      font-size: 20px;
    }
  }

  .copy-right {
    background: @activeColor;
    padding: @publicInterval;
    p {
      text-align: center;
      color: @whiteColor;
      #lineHeight(small);
      font-size: 12px;
    }
    p a {
      color: @whiteColor;
      text-decoration: underline;
    }
  }
}

//footer结束

//其他组件
.g-path {
  .clearFix();
  background: @whiteColor;
  margin: 0 0 10px;
  padding: 0 @publicInterval;

  ul {
    .clearFix();
    width: 100%;
    height: 40px;
    .text-overflow();
  }
  ul li {
    .fl();
    margin-right: 0.133333rem;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }
  ul li a {
    display: block;
    line-height: 40px;
    color: @darkColor;
    font-size: 12px;
  }
  ul li i {
    display: block;
    line-height: 40px;
    font-size: .48rem;
  }
}

.g-category {
  position: relative;
  background: @whiteColor;
  margin: 0 0 @publicInterval;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid @whiteColor;
  }
  .current {
    color: @activeColor;
  }

  span {
    display: block;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid @borderColor;
    //font-weight: bold;
  }

  ul {
    .clearFix();

  }

  ul li {
    .fl();
    padding: 0 @publicInterval;
    width: 50%;
    .text-overflow();
    border-bottom: 1px solid @borderColor;
    &:nth-of-type(2n + 1) {
      border-right: 1px solid @borderColor;
    }
  }
  ul li a {
    display: block;
    line-height: 40px;
    color: @darkColor;
  }
}

.g-item-list {
  a {
    color: @darkColor;
  }
  thead tr {
    font-size: 14px;
  }

  thead tr th {
    padding: @publicInterval 5px;
    #lineHeight(medium);
    font-weight: bold;
    border-bottom: 1px solid @borderColor;
  }

  tbody tr {
    font-size: 14px;
  }
  tbody tr th {
    padding: @publicInterval 5px;
    #lineHeight(medium);
    border-bottom: 1px solid @borderColor;
  }
}

.g-item-detail {
  background: @whiteColor;

  dl {
    padding: 10px 0;
    border-bottom: 1px solid @borderColor;
    &:nth-last-of-type(1) {
      border-bottom: none;
      dd {
        padding-bottom: 5px;
        color: @whiteSmoke;
      }
    }

    dt {
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: normal;
    }

    dd {
      .clearFix();
      font-size: 12px;
    }
    dd .btn {
      background: @activeColor;
      border-color: @activeColor;
    }
    dd span {
      display: block;
      .fl();
      padding: 5px 0;
      width: 33%;
    }
  }
}

.g-page-navigation {
  .pagination li a {
    color: @darkColor;
  }
  .pagination .active span {
    background: @activeColor;
    border-color: @activeColor;
  }
}

/* 交互 */
.capsule {
  display: inline-block;
  background: @activeColor;
  color: #fff!important;
  margin: 5px 5px 5px 0;
  padding: 4px 5px;
  #border-radius(10px);
}

//其他组件