/**
* @name: public.less
* @description: win-star.com 手机端 头部导航、页脚 布局样式
* @author: huang(1367428189@qq.com)
* @update: 2019-09-7 9:30
*/
@import "../style_reset/reset.css";
/**
* @name: variables.less
* @description: win-star.com 手机端 公共变量定义文件
* @author: huang(1367428189@qq.com)
* @update: 2019-04-30 16:00
*/
@font-face {
  font-family: Neo_Sans;
  src: url("../../../en-us/fonts/Neo_Sans.ttf");
}
body {
  background: #F5F5F5;
  font-size: 14px;
  font-family: Neo_Sans, "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
}
/* markdown */
.markdown-body {
  font-size: 14px;
  font-family: Neo_Sans, "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header .nav-bar {
  position: relative;
  height: 50px;
  padding: 0 0.4rem;
  border-bottom: 1px solid #eaeaea;
  background: #FFFFFF;
}
header .nav-bar .menu-bar {
  float: left;
}
header .nav-bar .menu-bar span {
  left: 0;
}
header .nav-bar .logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -62px;
  padding: 8px 0;
}
header .nav-bar .logo img {
  height: 34px;
}
header .nav-bar .search-bar {
  float: right;
}
header .nav-bar .search-bar .iconfont {
  display: block;
  line-height: 50px;
  font-size: 24px;
}
header .search-container {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0 0.4rem;
  background: #fff;
}
header .search-container form {
  margin: 11px 0;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: center;
}
header .search-container formbefore,
header .search-container form:after {
  content: " ";
  display: table;
  zoom: 1;
}
header .search-container form:after {
  clear: both;
}
header .search-container form input {
  float: left;
  height: 30px;
  padding: 0 0.4rem;
  border: 1px solid #3b6caa;
}
header .search-container form input[type="text"] {
  width: 80%;
  border-right: none;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
header .search-container form input[type="submit"] {
  width: 50px;
  border-left: none;
  background: #3b6caa;
  color: #FFFFFF;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}
footer {
  margin-top: 60px;
  padding-bottom: 0;
}
footer .about {
  background: #333;
  padding: 40px 0.4rem;
}
footer .about .about-item {
  padding: 0 5px;
  border-bottom: 1px solid #5a5656;
}
footer .about .about-item h3 {
  position: relative;
  height: 50px;
  line-height: 50px;
  color: #888;
  font-size: 14px;
}
footer .about .about-item h3 span {
  position: absolute;
  top: 0;
  right: 0;
}
footer .about .about-item ul {
  display: none;
  padding: 0 0.4rem;
}
footer .about .about-community ul {
  display: block;
}
footer .about .about-item ul a {
  display: block;
  line-height: 25px;
  color: #888;
  font-size: 12px;
}
footer .about .about-item ul a .iconfont {
  padding: 0 0.4rem;
  font-size: 20px;
}
footer .copy-right {
  background: #3b6caa;
  padding: 0.4rem;
}
footer .copy-right p {
  text-align: center;
  color: #FFFFFF;
  line-height: 0.48rem;
  font-size: 12px;
}
footer .copy-right p a {
  color: #FFFFFF;
  text-decoration: underline;
}
.g-path {
  background: #FFFFFF;
  margin: 0 0 10px;
  padding: 0 0.4rem;
}
.g-pathbefore,
.g-path:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-path:after {
  clear: both;
}
.g-path ul {
  width: 100%;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.g-path ulbefore,
.g-path ul:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-path ul:after {
  clear: both;
}
.g-path ul li {
  float: left;
  margin-right: 0.133333rem;
}
.g-path ul li:nth-last-of-type(1) {
  margin-right: 0;
}
.g-path ul li a {
  display: block;
  line-height: 40px;
  color: #333333;
  font-size: 12px;
}
.g-path ul li i {
  display: block;
  line-height: 40px;
  font-size: 0.48rem;
}
.g-category {
  position: relative;
  background: #FFFFFF;
  margin: 0 0 0.4rem;
}
.g-category:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #FFFFFF;
}
.g-category .current {
  color: #3b6caa;
}
.g-category span {
  display: block;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}
.g-category ulbefore,
.g-category ul:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-category ul:after {
  clear: both;
}
.g-category ul li {
  float: left;
  padding: 0 0.4rem;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
}
.g-category ul li:nth-of-type(2n + 1) {
  border-right: 1px solid #eaeaea;
}
.g-category ul li a {
  display: block;
  line-height: 40px;
  color: #333333;
}
.g-item-list a {
  color: #333333;
}
.g-item-list thead tr {
  font-size: 14px;
}
.g-item-list thead tr th {
  padding: 0.4rem 5px;
  line-height: 0.533333rem;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
}
.g-item-list tbody tr {
  font-size: 14px;
}
.g-item-list tbody tr th {
  padding: 0.4rem 5px;
  line-height: 0.533333rem;
  border-bottom: 1px solid #eaeaea;
}
.g-item-detail {
  background: #FFFFFF;
}
.g-item-detail dl {
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}
.g-item-detail dl:nth-last-of-type(1) {
  border-bottom: none;
}
.g-item-detail dl:nth-last-of-type(1) dd {
  padding-bottom: 5px;
  color: #888888;
}
.g-item-detail dl dt {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
}
.g-item-detail dl dd {
  font-size: 12px;
}
.g-item-detail dl ddbefore,
.g-item-detail dl dd:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-item-detail dl dd:after {
  clear: both;
}
.g-item-detail dl dd .btn {
  background: #3b6caa;
  border-color: #3b6caa;
}
.g-item-detail dl dd span {
  display: block;
  float: left;
  padding: 5px 0;
  width: 33%;
}
.g-page-navigation .pagination li a {
  color: #333333;
}
.g-page-navigation .pagination .active span {
  background: #3b6caa;
  border-color: #3b6caa;
}
/* 交互 */
.capsule {
  display: inline-block;
  background: #3b6caa;
  color: #fff !important;
  margin: 5px 5px 5px 0;
  padding: 4px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
/*# sourceMappingURL=public.css.map */