/**
* @name: public.less
* @description: win-star.com 手机端 头部导航、页脚 布局样式
* @author: huang(1367428189@qq.com)
* @update: 2019-04-30 16:00
*/
@import "../../../lib/Bootstrap/bootstrap-3.3.7.min.css";
@import "../../../lib/ico/iconfont.css";
@import "../style_reset/reset.css";
/**
* @name: variables.less
* @description: win-star.com 手机端 公共变量定义文件
* @author: huang(1367428189@qq.com)
* @update: 2019-04-30 16:00
*/
body {
  background: #F5F5F5;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
.container {
    padding: 0;
    margin: 0;
}
.row {
    padding: 0;
    margin: 0;
}
*/
header {
  padding: 0.4rem;
  background: #EA881B;
}
header .icon-box {
  overflow: hidden;
  height: 0.693333rem;
}
header .icon-boxbefore,
header .icon-box:after {
  content: " ";
  display: table;
  zoom: 1;
}
header .icon-box:after {
  clear: both;
}
header .icon-box .icon-menus {
  float: left;
  width: 10%;
}
header .icon-box .icon-menus .iconfont {
  font-size: 0.533333rem;
  color: #FFFFFF;
}
header .icon-box .logo {
  float: left;
  width: 80%;
  text-align: center;
}
header .icon-box .logo a {
  display: inline-block;
}
header .icon-box .logo a img {
  height: 0.533333rem;
}
header .icon-box .icon-link {
  float: left;
  width: 10%;
  text-align: right;
}
header .icon-box .icon-link .iconfont {
  font-size: 0.533333rem;
  color: #FFFFFF;
}
header .search-box {
  position: relative;
}
header .search-box input {
  padding: 0 0.8rem 0 0.4rem;
  width: 100%;
  height: 0.8rem;
  font-size: 12px;
  color: #888888;
  border-radius: 0.15625rem;
  -webkit-border-radius: 0.15625rem;
  -moz-border-radius: 0.15625rem;
}
header .search-box button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  background: #FFFFFF;
  border-radius: 0 0.15625rem 0.15625rem 0;
  -webkit-border-radius: 0 0.15625rem 0.15625rem 0;
  -moz-border-radius: 0 0.15625rem 0.15625rem 0;
}
header .search-box button .iconfont {
  font-size: 0.56rem;
}
header .menu-box {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
header .menu-boxbefore,
header .menu-box:after {
  content: " ";
  display: table;
  zoom: 1;
}
header .menu-box:after {
  clear: both;
}
header .menu-box .menu-pane {
  float: left;
  width: 0;
  height: 100%;
  background: #FFFFFF;
}
header .menu-box .menu-pane .menu-title h2 {
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: #EA881B;
  color: #FFFFFF;
  font-size: 0.533333rem;
}
header .menu-box .menu-pane .menu-item {
  padding: 0.4rem;
}
header .menu-box .menu-pane .menu-item a {
  overflow: hidden;
  display: block;
  color: #333;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
}
header .menu-box .menu-pane .menu-item abefore,
header .menu-box .menu-pane .menu-item a:after {
  content: " ";
  display: table;
  zoom: 1;
}
header .menu-box .menu-pane .menu-item a:after {
  clear: both;
}
header .menu-box .menu-pane .menu-item a .iconfont {
  float: left;
  display: block;
  margin-right: 0.46875rem;
  height: 50px;
  font-size: 0.5625rem;
}
header .menu-box .menu-pane .menu-item a span {
  float: left;
  display: block;
  height: 50px;
  font-size: 14px;
}
header .menu-box .menu-pane-close {
  float: left;
  width: 30%;
  height: 100%;
}
footer {
  margin-top: 60px;
}
footer .about {
  background: #333;
  padding: 1.875rem 20px;
}
footer .about .about-item {
  padding: 0 5px;
  border-bottom: 1px solid #5a5656;
}
footer .about .about-item h3 {
  position: relative;
  height: 50px;
  line-height: 50px;
  color: #888;
  font-size: 14px;
}
footer .about .about-item h3 span {
  position: absolute;
  top: 0;
  right: 0;
}
footer .about .about-item ul {
  display: none;
  padding: 0 0.4rem;
}
footer .about .about-community ul {
  display: block;
}
footer .about .about-item ul a {
  height: 50px;
  line-height: 50px;
  color: #888;
  font-size: 12px;
}
footer .about .about-item ul a .iconfont {
  padding: 0 0.4rem;
  font-size: 0.5625rem;
}
footer .copy-right {
  background: #EA881B;
  padding: 0.4rem;
}
footer .copy-right p {
  text-align: center;
  color: #FFFFFF;
  line-height: 0.48rem;
  font-size: 12px;
}
footer .copy-right p a {
  color: #FFFFFF;
  text-decoration: underline;
}
.g-path {
  background: #FFFFFF;
  margin: 0.4rem 0;
  padding: 0 0.4rem;
}
.g-pathbefore,
.g-path:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-path:after {
  clear: both;
}
.g-path ul {
  width: 100%;
  height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.g-path ulbefore,
.g-path ul:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-path ul:after {
  clear: both;
}
.g-path ul li {
  float: left;
  margin-right: 0.133333rem;
}
.g-path ul li:nth-last-of-type(1) {
  margin-right: 0;
}
.g-path ul li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #333333;
  font-size: 0.32rem;
}
.g-path ul li i {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 0.48rem;
}
.g-category {
  position: relative;
  background: #FFFFFF;
  margin: 0 0 0.4rem;
}
.g-category:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #FFFFFF;
}
.g-category .current {
  color: #EA881B;
}
.g-category span {
  display: block;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  font-weight: bold;
}
.g-category ulbefore,
.g-category ul:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-category ul:after {
  clear: both;
}
.g-category ul li {
  float: left;
  padding: 0 0.4rem;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
}
.g-category ul li:nth-of-type(2n + 1) {
  border-right: 1px solid #eaeaea;
}
.g-category ul li a {
  display: block;
  line-height: 50px;
  color: #333333;
}
.g-item-list a {
  color: #333333;
}
.g-item-list thead tr {
  font-size: 0.373333rem;
}
.g-item-list thead tr th {
  padding: 0.4rem 5px;
  line-height: 0.533333rem;
  font-weight: bold;
  border-bottom: 2px solid #eaeaea;
}
.g-item-list tbody tr {
  font-size: 0.346666rem;
}
.g-item-list tbody tr th {
  padding: 0.4rem 5px;
  line-height: 0.533333rem;
  border-bottom: 1px solid #eaeaea;
}
.g-item-detail {
  background: #FFFFFF;
}
.g-item-detail dl {
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}
.g-item-detail dl:nth-last-of-type(1) {
  border-bottom: none;
}
.g-item-detail dl:nth-last-of-type(1) dd {
  padding-bottom: 5px;
  color: #888888;
}
.g-item-detail dl dt {
  padding-bottom: 10px;
  font-size: 0.373333rem;
}
.g-item-detail dl dd {
  font-size: 0.32rem;
}
.g-item-detail dl ddbefore,
.g-item-detail dl dd:after {
  content: " ";
  display: table;
  zoom: 1;
}
.g-item-detail dl dd:after {
  clear: both;
}
.g-item-detail dl dd span {
  display: block;
  float: left;
  padding: 5px 0;
  width: 33%;
}
/*# sourceMappingURL=public.css.map */