application/config.php
application/database.php
.idea/
vendor
thinkphp
.travis.yml
public/ueditor
public/files201910151
runtime/
/log/
test/
ueditor/
.env
.DS_Store
.vscode
config.php
database.php
*.map