{extend name="public/base_form" /}
{block name="form"}
<form class="form form-horizontal" id="form-article-add" method="post" action="">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">广告空间：</label>
        <div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="space_id" class="select">
                    <option value="">--请选择</option>
                  {volist name="adSpace" id="vo"}
                  <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
				</span>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">标题：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="" placeholder="广告名称，必须填，用于后台管理时标识用途" id="title" name="title">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">排序：</label>
        <div class="formControls col-xs-8 col-sm-1">
            <input type="text" class="input-text" value="100" placeholder="数字整数，大于0" id="listorder" name="listorder">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">展示内容：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="" placeholder="可选填写，用于不同的场景" id="name" name="name">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">大图：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="" id="big_image" name="big_image" placeholder="可选">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">小图：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="" id="small_image" name="small_image" placeholder="可选">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">链接到：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="" placeholder="可选的，如消息通知可能就没有链接" id="url" name="url" >
        </div>
    </div>

    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
            <button onclick="save('{:url(\'Banner/save\')}')" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 更新
            </button>
            <button onClick="layer_close();" class="btn btn-default radius" type="button">
                &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div>
    </div>
</form>
{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/admin/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h-ui.admin/js/image.js"></script>
<script type="text/javascript">
    var SCOPE = {
        'uploadify_swf':'__STATIC__/admin/uploadify/uploadify.swf',
        'image_upload':"{:url('api/image/upload')}"};
</script>
{/block}