<footer>
    <div class="about">
        <ul>
            <li class="about-item">
                <h3>WHO WE ARE? <span class="iconfont icon-increase"></span></h3>
                <ul>
                    <li><a href="/en_us/about/Company_Overview.html">Company</a></li>
                    <li><a href="/en_us/about/content_us.html">Contact US</a></li>
                    <li><a href="/en_us/about/Milestone.html">Milestone</a></li>
                    <li><a href="/en_us/about/Privacy.html">Privacy</a></li>
                    <li><a href="/en_us/about/join_us.html">Join US</a></li>
                </ul>
            </li>
            <li class="about-item">
                <h3>WHAT DO WE OFFER? <span class="iconfont icon-increase"></span></h3>
                <ul>
                    <!--<li><a href="#">Thunderbolt 3 product</a></li>-->
                    <!--<li><a href="#">Mesh WiFi Router</a></li>-->
                </ul>
            </li>
            <li class="about-item">
                <h3>NEED HELP?  <span class="iconfont icon-increase"></span></h3>
                <ul>
                    <li><a href="/en_us/support/driver.html">Driver List</a></li>
                </ul>
            </li>
            <li class="about-item about-community">
                <h3>Community  <span class="iconfont icon-close"></span></h3>
                <ul>
                    <li>
                        <a href="#"><i class="iconfont">&#xec5f;</i></a>
                        <a href="#"><i class="iconfont">&#xe633;</i></a>
                        <a href="#"><i class="iconfont">&#xe8fc;</i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="copy-right">
        <p>©1997 - 2019 Winstars Technology Ltd. All Rights Reserved.</p>
        <p><a href="#">Powered by Winstars</a></p>
    </div>
</footer>