<header>
    <div class="g-nav">
        <div class="nav-bar">
            <div class="menu-bar">
                <a class="toggle">
                    <span></span>
                </a>
            </div>
            <div class="logo">
                <h1><a href="/"><img src="//files.win-star.com/images/2019/10/31/logo02.svg" alt=""></a>
                </h1>
            </div>
            <!--<div class="search-bar">
                <span class="iconfont icon-search"></span>
            </div>-->
        </div>
        <div class="wrapper cf">
            <nav id="main-nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li>
                        <a>PRODUCT</a>
                        <ul>
                            {notempty name="tree"}
                            {volist name="tree" id="vo"}
                            <li>
                                <a href="#">{$vo.name}</a>
                                <ul>
                                    {notempty name="vo.child"}
                                    {volist name="vo.child" id="child"}
                                    <li><a href="/en_us/category/{$child.url_title}.html">{$child.name}</a></li>
                                    {/volist}
                                    {/notempty}
                                </ul>
                            </li>
                            {/volist}
                            {/notempty}
                        </ul>
                    </li>
                    <li>
                        <a href="#">SUPPORT</a>
                        <ul>
                            <li><a href="/en_us/support/manual.html">Manuals</a></li>
                            <li><a href="/en_us/support/driver.html">Drivers</a></li>
                            <li><a href="/en_us/support/faq.html">F.A.Q</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">ABOUT</a>
                        <ul>
                            <li><a href="/en_us/about/Company_Overview.html">Company</a></li>
                            <li><a href="/en_us/about/content_us.html">Contact Us</a></li>
                            <li><a href="/en_us/about/milestone.html">Milestone</a></li>
                            <li><a href="/en_us/about/Privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="search-container">
            <form action="">
                <input type="text" placeholder="Please enter the product model to search">
                <input type="submit" value="GO">
            </form>
        </div>
    </div>
</header>