<header>
    <div class="container">
        <div class="row icon-box">
            <div class="icon-menus" id="icon-menus"><i class="iconfont">&#xe7f4;</i></div>

            <div class="logo">
                <h1><a href="http://www.win-star.com"><img src="{$fileHost}/images/2019/06/29/winstars_logo.png" alt=""></a></h1>
            </div>

            <!--<div class="icon-link"><a href="#"><i class="iconfont">&#xeba5;</i></a></div>-->
        </div>

        <div class="row search-box">
            <form action="{:url('/'.$code.'/search/product')}" method="get">
                <input type="text" placeholder="Search for products" name="key" value="{notempty name='key'}{$key}{/notempty}">
                <button><i class="iconfont">&#xe68d;</i></button>
            </form>
        </div>

        <div class="menu-box" id="menu-box">

            <div class="menu-pane">
                <div class="menu-title">
                    <h2>WINSTARS</h2>
                </div>
                <div class="menu-item">
                    <ul>
                        <li><a href="/en_us/"><i class="iconfont">&#xe623;</i> <span>HOME</span></a></li>
                        <li><a href="/en_us/about.html"><i class="iconfont">&#xe693;</i> <span>ABOUT</span></a></li>
                        <li><a href="/en_us/category.html"><i class="iconfont">&#xe62f;</i> <span>PRODUCT</span></a></li>
                        <li><a href="/en_us/support.html"><i class="iconfont">&#xe825;</i> <span>SUPPORT</span></a></li>
                        <!--<li><a href="#"><i class="iconfont">&#xe632;</i> <span>BLOG</span></a></li>-->
                        <!--<li><a href="#"><i class="iconfont">&#xe62a;</i> <span>F.A.Q</span></a></li>-->

                    </ul>
                </div>
            </div>

            <div class="menu-pane-close"></div>

        </div>
    </div>
</header>