<div class="banner-title-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=5404Zp4tjNUC_WJM0r-bbtQGyxFPOec0mLEHt529mHvoBCDehAx8lXNffZaaz39fv39QfGZJ9o5Rg6G5pquxFgKpp-o740SdFPj7a8_kyT1z1wcH3MxjbTeg6QFy8unuaJHCUy1frg5V7Q3us-eZnaG8ePP7O_X0YqYZPdptAwhh2Oa9cp_UYuCIHw&file_name=/Aerial%20X_m.jpg"
                 alt="">
            <!--<h4>Independent R&D Building</h4>-->
        </div>
        <div class="swiper-slide">
            <img src="https://cloud.wavlink.com/index.php?user/publicLink&fid=c0b9NCx0Fz-sv85sY0poxqBqQwNdHmg5b5orKrcigCjbkMGGrXVmztrG7I7qSj79APG75CI1wt7ACV74HI_jjlO-ECQ72RODgZW5i5ztHVZaKDwENlo0EPSVA7OZpCkEy5mLEq2Lsxh0DBW1H_e3G0sBQhOZkwnPHH03YL_wqeZvG07TlnNNqhz9Dr-5&file_name=/A42_m.jpg"
                 alt="">
            <!--<h4>International R&D Team</h4>-->
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>