<aside class="Hui-aside">
    <div><a href="#"><img src=""></a></div>
    <div class="menu_dropdown bk_2">
        {if condition="in_array('category/index',$access)"}
        <dl id="menu-category">
            <dt><i class="Hui-iconfont">&#xe681;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="product_category"><a href="{:url('Category/index')}"
                                                          title="分类管理">分类管理</a></li>
                </ul>
            </dd>
        </dl>
        {/if}
        {if condition="in_array('images/index',$access)"}
        <dl id="menu-images">
            <dt><i class="Hui-iconfont">&#xe613;</i> 首页管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="cover"><a href="{:url('cover/edit')}">首页封面</a></li>
                    <li id="cover_css"><a href="{:url('cover/cover_css')}">首页封面样式</a></li>
                    <li id="partner"><a href="{:url('partner/index')}">合作伙伴</a></li>
                </ul>
            </dd>
        </dl>
        {/if}
        {if condition="in_array('images/index',$access)"}
        <dl id="menu-banner">
            <dt><i class="Hui-iconfont">&#xe613;</i> 幻灯片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="AdSpace"><a href="{:url('AdSpace/index')}">广告空间</a></li>
                    <li id="banner"><a href="{:url('Banner/index')}">幻灯片</a></li>
                </ul>
            </dd>
        </dl>
        {/if}
        {if condition="in_array('product/index',$access)"}
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="product_product"><a class="product_product"
                                                         href="{:url('product/index')}"
                                                         title="产品管理">产品管理</a>
                        <!--<li id="product_off"><a href="{:url('product/product_off')}" title="已下架的产品">已下架的产品</a></li>-->
                    <li id="product_recycle"><a href="{:url('product/product_recycle')}" title="回收站的产品">回收站的产品</a></li>
                </ul>
            </dd>
        </dl>
        {/if}
        {if condition="in_array('marketing/index',$access)"}
        <!--<dl id="menu-marketing">-->
            <!--<dt><i class="Hui-iconfont">&#xe62b;</i> 营销管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li id="marketing"><a href="{:url('Marketing/index')}" title="单页宣传">单页宣传</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        {/if}
    </div>
</aside>