@charset "UTF-8";

/* 产品列表 */
div.ProductList > .child {
    width: 33.333%
}
div.ProductList > .child > div:hover {
    box-shadow: 0 0 10px #65aaef;
    -webkit-box-shadow: 0 0 10px #65aaef;
    -moz-box-shadow: 0 0 10px #65aaef;
    -ms-box-shadow: 0 0 10px #65aaef;
    -o-box-shadow: 0 0 10px #65aaef
}
div.ProductList > .child:nth-child(4n+4){
    border-right-color: transparent
}
div.ProductList > .child > div {
    margin: 5px
}
div.ProductList > .child > div > .cont > .model_link > a {
    padding: 4px 10px
}
div.ProductList > .child > div > .cont > .model_link > a:first-child {
    padding-left: 0
}
div.ProductList > .child > div > i {
    right: 5%;
    top: 3%;
    font-size: 40px
}
@media screen and (min-width: 768px){
    div.ProductList > .child {
        width: 33.333%
    }
    div.ProductList > .child > div > .cont > h2 > a {
        font-size: 13px
    }
    .ProductListBox {
        margin-bottom: 40px
    }
}
@media screen and (min-width: 1200px){
    .ProductListBox {
        width: 80%;
        margin-left: 10%
    }
}


/* 大盒子 */
.NoContentBox {
    border: none !important;
}
.NoContentBox .NoContent {
    padding: 40px 30px
}
.NoContentBox .NoContent > dl {
    color: #101010;
}
.NoContentBox .NoContent > dl > dt > h3 {
    font-size: 26px;
    margin-bottom: 10px
}
.NoContentBox .NoContent > dl > dd > p {
    margin-bottom: 5px
}
.NoContentBox .NoContent > dl > dd:last-child > p {
    margin-bottom: 0
}
.NoContentBox .NoContent > dl > dd > p > a:hover {
    text-decoration: underline
}
.NoContentBox div.Interested > .InterestedTitle {
    color: #888
}
.InterestedChild > .child > div:hover {
    box-shadow: 0 0 10px #65aaef;
    -webkit-box-shadow: 0 0 10px #65aaef;
    -moz-box-shadow: 0 0 10px #65aaef;
    -ms-box-shadow: 0 0 10px #65aaef;
    -o-box-shadow: 0 0 10px #65aaef;

}
@media screen and (min-width: 768px){
    .InterestedChild > .child > div > div > .cont > h2 a {
        font-size: 13px
    }
}