/* ProductList 产品列表 */
ul.ProductList > li {
    width: 33.333%
}
ul.ProductList > li:hover {
    box-shadow: 0 0 2px #b1b1b1 inset;
    -webkit-box-shadow: 0 0 2px #b1b1b1 inset;
    -moz-box-shadow: 0 0 2px #b1b1b1 inset;
    -ms-box-shadow: 0 0 2px #b1b1b1 inset;
    -o-box-shadow: 0 0 2px #b1b1b1 inset
}
ul.ProductList > li:nth-child(4n+4){
    border-right-color: transparent
}
ul.ProductList > li > .cont > h2 > a:hover {
    color: #EA881B
}
ul.ProductList > li > .cont > .btn > a {
    padding: 6px 8px
}
ul.ProductList > li > .cont > .btn > a:last-of-type:hover {
    background: #EA881B;
    color: #fff
}
ul.ProductList > li > i {
    right: 5%;
    top: 3%;
    font-size: 40px
}
@media screen and (min-width: 768px){
    ul.ProductList > li > .cont > h2 > a {
        font-size: 13px
    }
}
@media screen and (min-width: 1100px){
    ul.ProductList > li > .cont > h2 > a {
        font-size: 15px
    }
}
@media screen and (min-width: 1300px){
    .ProductListBox {
        width: 70%;
        margin-left: 15%
    }
}