@charset "UTF-8";

/* 产品列表 */
div.ProductList > .child {
    width: 33.333%;
    border: 1px solid transparent
}
div.ProductList > .child:hover {
    border: 1px solid #ddd
}
div.ProductList > .child:nth-child(4n+4){
    border-right-color: transparent
}
div.ProductList > .child > div {
    margin: 2px
}
div.ProductList > .child > div > .cont > h2 > a:hover {
    color: #EA881B
}
div.ProductList > .child > div > .cont > .btn > a {
    padding: 6px 8px
}
div.ProductList > .child > div > .cont > .btn > a:last-of-type:hover {
    background: #EA881B;
    color: #fff
}
div.ProductList > .child > div > i {
    right: 5%;
    top: 3%;
    font-size: 40px
}
@media screen and (min-width: 768px){
    div.ProductList > .child {
        width: 33.333%;
        border: 1px solid transparent
    }
    div.ProductList > .child > div > .cont > h2 > a {
        font-size: 13px
    }
}
@media screen and (min-width: 1100px){
    div.ProductList > .child > div > .cont > h2 > a {
        font-size: 15px
    }
}
@media screen and (min-width: 1200px){
    .ProductListBox {
        width: 70%;
        margin-left: 15%
    }
}


/* 大盒子 */
.NoContentBox {
    border: none !important;
}
.NoContentBox .NoContent {
    padding: 80px 10%
}
.NoContentBox .NoContent > dl {
    color: #888
}
.NoContentBox .NoContent > dl > dt > h3 {
    font-size: 32px;
    margin-bottom: 20px
}
.NoContentBox .NoContent > dl > dd > p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px
}
.NoContentBox .NoContent > dl > dd:last-child > p {
    margin-bottom: 0
}
.NoContentBox .NoContent > dl > dd > p > a:hover {
    text-decoration: underline
}
.NoContentBox div.Interested > .InterestedTitle {
    color: #888
}
.InterestedChild > .child {
    border: 1px solid transparent
}
.InterestedChild > .child:hover {
    border-color: #ddd
}
.InterestedChild > .child > div > .cont > h2 > a:hover {
    color: #EA881B
}
.InterestedChild > .child > div > .cont > div > a:last-child:hover {
    background-color: #EA881B;
    color: #fff
}
@media screen and (min-width: 768px){
    .InterestedChild > .child > div > .cont > h2 > a {
        font-size: 13px
    }
}
@media screen and (min-width: 1100px) {
    .InterestedChild > .child > div > .cont > h2 > a {
        font-size: 15px;
    }
}
