div.Details > .Product_title {
    margin: 0 0 30px;
    width: 100%;
}
div.Details > div.Characteristic > ul > li > p:last-child {
    margin-bottom: 0;
    line-height: 1.5;
    font-size:14px
}
div.Details > div.Characteristic > p.add > a {
    width: 111px;
    padding: 6px 8px;
    border: 1px solid #b9b9b9
}
div.Scrolling-navigation > ol {
    padding: 0 40px
}
div.Scrolling-navigation > ol > li {
    width: 140px;
    margin-right: 4px;
    padding: 12px 10px;
}
div.Scrolling-navigation > .content {
    width: 65%;
    padding: 40px 0 40px 20px
}

@media screen and (max-width:768px){
    div.Details > div.magnifier {
        width: 50%;
        float: left
    }
    div.Details > div.Characteristic {
        width: 50%;
        float: left
    }
}
@media screen and (min-width: 992px){
    div.Details > div {
        float: left
    }
    div.Details > div.magnifier {
        width: 40%
    }
    div.Details > div.Characteristic {
        width: 60%;
        padding-right: 4.4%
    }
}
@media screen and (min-width: 1300px){
    div.Details,
    div.Scrolling-navigation {
        width: 80%
    }
}

.NewProduct > a > img:hover {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px)
}
#features{
    padding: 0 !important;
}

