@charset"utf-8";

.Result{
    margin-bottom: 40px;
}
ul.ResultList > li {
    width: 25%;
}
ul.ResultList > li > div:hover {
    box-shadow: 0 0 10px #9cf;
    -webkit-box-shadow: 0 0 10px #9cf;
    -moz-box-shadow: 0 0 10px #9cf;
    -ms-box-shadow: 0 0 10px #9cf;
    -o-box-shadow: 0 0 10px #9cf
}
ul.ResultList > li:nth-child(4n+4){
    border-right-color: transparent
}
ul.ResultList > li > div {
    margin: 5px
}
ul.ResultList > li > div > .cont > .btn > a {
    padding: 4px 10px
}
ul.ResultList > li > div > i {
    right: 5%;
    top: 3%;
    font-size: 40px
}
@media screen and (min-width: 768px){
    ul.ResultList > li > div > .cont > h2 > a {
        font-size: 14px
    }
}
@media screen and (min-width: 1200px){
    .Result {
        width: 80%;
        margin-left: 10%;
    }
}
