@charset "UTF-8";
/* 边框线 */
.table > tbody > tr > th {
    text-align: right;
    font-size: 13px
}
.table>caption{
    border-bottom:none !important;
}
.table>caption>h2{
    font-weight:normal;
    font-size: 16px;
}
.table>caption,.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
    border: 1px solid #ddd;
    font-weight:normal;
}

.bs-example > .btn, .bs-example > .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* 按钮 */
.btn-primary {
    color: #fff;
    background-color: #3b6caa;
    border-color: #3b6caa;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

tr td:nth-child(2) a.complexThemeColor:hover {
    color: #3b6caa;
    background-color: #fff;
    border-color: #3b6caa;
}
