<!-- wavlink睿因 产品页脚部分 -->
<footer class="w_body_footer col-xs-12" style="background:#3a3a3a;padding:0">
    <div class="w_body_footer_left col-md-8 col-xs-12" style="padding-top:15px">
        <dl class="col-md-2 col-sm-3 col-xs-6">
            <dt>ABOUT</dt>
            <dd><a href="javascript:;">Our Company</a></dd>
            <dd><a href="javascript:;">Press Release</a></dd>
            <dd><a href="javascript:;">Contact Us</a></dd>
            <dd><a href="javascript:;">Where to Buy</a></dd>
            <dd><a href="javascript:;">Technology</a></dd>
            <dd><a href="javascript:;">Careers</a></dd>
            <dd><a href="javascript:;">Newsroom</a></dd>
        </dl>
        <dl class="col-md-2 col-sm-3 col-xs-6">
            <dt>PRODUCTS</dt>
            <dd><a href="javascript:;">Power</a></dd>
            <dd><a href="javascript:;"> Audio</a></dd>
            <dd><a href="javascript:;">Optics</a></dd>
            <dd><a href="javascript:;">Hubs & Cables</a></dd>
            <dd><a href="javascript:;">Auto</a></dd>
            <dd><a href="javascript:;">Home</a></dd>
            <dd><a href="javascript:;">Entertainment</a></dd>
        </dl>
        <dl class="col-md-2 col-sm-3 col-xs-6">
            <dt>BLOG</dt>
            <dd><a href="javascript:;">Posts</a></dd>
            <dd><a href="javascript:;">Gallery</a></dd>
        </dl>
        <dl class="col-md-2 col-sm-3 col-xs-6">
            <dt>SUPPORTS</dt>
            <dd><a href="javascript:;">Manual & Drivers</a></dd>
            <dd><a href="javascript:;">Refund & Exchange</a></dd>
            <dd><a href="javascript:;">Warranty</a></dd>
            <dd><a href="javascript:;">Privacy Policy</a></dd>
            <dd><a href="javascript:;">Terms of Use</a></dd>
            <dd><a href="javascript:;">Product Verification</a></dd>
            <dd><a href="javascript:;">WEEE Info</a></dd>
        </dl>
    </div>
    <div class="w_body_footer_right col-md-4 col-xs-12" style="padding:108px 0">
        <ul class="col-xs-12">
            <li class="col-lg-6 col-md-12 col-xs-6"><a href="javascript:;"><img src="__EN__/img/wavlink-logo.svg" class="img-responsive center-block" alt=""></a></li>
        </ul>
    </div>
    <div class="w_body_footer_bottom bg-black color-white text-center col-xs-12">Copyright © 2017 Anker Technology Co. Limited</div>
</footer>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="__EN__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__EN__/js/public-js.js"></script>
</body>
</html>