{extend name="public/base" /}
{block name="title"}
<title>单页管理-WINSTARS WEBSITE MANAGER CENTER</title>
{/block}
{block name="menu"}{include file="public:content_navbar" /}{/block}
{block name="nav"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    首页产品管理
    <span class="c-gray en">&gt;</span>
    单页管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
{/block}
{block name="main"}
<article class="cl pd-20" style="min-height: 51em;">

    <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    <a class="btn btn-primary radius" onclick="index_add('添加单页','{:url('Marketing/add')}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加单页</a>
                </span>
        <span class="r">共有文章：<strong>{$count}</strong> 篇</span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="14">单页列表</th>
        </tr>
        <tr class="text-c">
            <th width="20"><input type="checkbox" name="" value=""></th>
            <th width="50">ID</th>
            <th >单页名称</th>
            <th width="150">url标题</th>
            <th width="60">所属语言</th>
            <th width="150">创建时间</th>
            <th width="150">更新时间</th>
            <th width="60">状态</th>
            <th width="160">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="marketing" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" value="{$vo.id}" name="id"></td>
            <td>{$vo.id}</td>
            <td class="text-l">{$vo.name}</td>
            <td class="text-l">{$vo.url_title}</td>
            <td>{$vo.language_id|getLanguage}</td>
            <td>{$vo.create_time}</td>
            <td>{$vo.update_time}</td>
            <td class="td-status">{$vo.status|status}</td>
            <td class="f-14 td-manage">
                <a onClick="stop('{:url(\'Marketing/byStatus\',[\'id\'=>$vo.id,\'status\'=>0])}')"  title="停用" class="btn btn-danger radius"><i class="Hui-iconfont" style="font-size: 20px;">&#xe6de;</i></a>
                <a class="btn btn-success radius" onClick="index_edit('编辑','{:url(\'Marketing/edit\',[\'id\'=>$vo.id])}')"  title="编辑"><i class="Hui-iconfont" style="font-size: 20px;">&#xe6df;</i></a>
                <a onClick="start('{:url(\'Marketing/byStatus\',[\'id\'=>$vo.id,\'status\'=>1])}')" href="javascript:void 0;" title="恢复" class="btn btn-secondary radius"><i class="Hui-iconfont" style="font-size: 20px;">&#xe6dc;</i></a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{$marketing->render()}</div>
</article>
{include file="public/explain" /}
{/block}
{block name="js"}
<script>
    $(document).ready(function () {
        $("#menu-marketing dt").addClass("selected");
        $("#menu-marketing dd").css("display", "block");
        $("#menu-marketing #marketing").addClass("current");
        $("#content").addClass("current");
    })
</script>
{/block}