<extend name="Base/base_user" />
<block name="css">
    <!-- Bootstrap Core CSS -->
    <link href="__USER__/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS /bootstrap/css/bootstrap.min.cs-->
    <link href="__USER__/vendors/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__USER__/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="__USER__/vendors/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="__USER__/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__USER__/datetime/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</block>
<block name="page-wrapper">
    <div id="page-wrapper" style="min-height: 920px">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{$Think.lang.MyInfo}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        {$Think.lang.MyInfo}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form class="form-horizontal" role="form" id="form-data">
                                    <div class="form-group">
                                        <label for="Email" class="col-sm-2 control-label">{$Think.lang.Email}</label>
                                        <div class="col-sm-3">
                                            <input type="email" class="form-control" id="Email" placeholder="Email" name="email" value="{$result.email}" disabled>
                                            <input type="hidden" name="vistor_id" value="{$result.vistor_id}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName" class="col-sm-2 control-label">{$Think.lang.firstName}</label>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="firstName" name="firstname" class="update" value="{$result.firstname}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName" class="col-sm-2 control-label">{$Think.lang.lastName}</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="lastName" name="lastname" class="update" value="{$result.lastname}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender" class="col-sm-2 control-label">{$Think.lang.Gender}</label>
                                        <div class="col-sm-2">
                                            <select name="gender" id="gender" class="form-control" class="update">
                                                <option value="1" <if condition="$result['gender'] eq 1">selected="selected"</if>>{$Think.lang.Man}</option>
                                                <option value="2" <if condition="$result['gender'] eq 2">selected="selected"</if>>{$Think.lang.Woman}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="birthday" class="col-sm-2 control-label">{$Think.lang.Birthday}</label>
                                        <div class=" input-group date form_date col-sm-4" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii" data-link-field="dtp_input1">
                                            <input class="form-control" size="16" type="text" value="{$result.birthday}" readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                            <input type="hidden" name="birthday" value="{$result.birthday}" id="birthday">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-sm-offset-2">
                                            <button type="button" class="btn btn-info pull-right form-control" id="button_update">{$Think.lang.Update}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</block>
<block name="script">
    <!--commons by rootkit-->
    <script src="__JS__/commons.js"></script>
    <script src="__USER__/layer/layer.js"></script>
    <script src="__USER__/dist/js/dialog.js"></script>
    <script src="__USER__/datetime/js/bootstrap-datetimepicker.min.js"></script>
    <script type="application/javascript">
        var SCOPE={
            'update_url':'../../update'
        }
        <!--日期格式选择-->
        $('.form_date').datetimepicker({
            format:'yyyy-mm-dd',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

    </script>
</block>