<!--包含头部文件-->
{extend name="pc/base/base" /}
{block name="title"}
<title>Search result of {notempty name="key"}{$key}{else /}NULL{/notempty} - by winstars</title>
{/block}
{block name="seo"}
<meta name="description" content="{notempty name='key'}{$key}{else /}NULL{/notempty}">
<meta name="keywords" content="{notempty name='key'}{$key}{else /}NULL{/notempty}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/frontend/en-us/css/style/Result.css">
<link rel="stylesheet" href="__STATIC__/frontend/lib/paginate/paginate.css">
{/block}
{block name="body"}
<section>
    <div class="Result_Title pt50 pb50 tc f28">
        <p>Results for "{notempty name="key"}{$key}{else /}NULL{/notempty}"</p>
        <p>{notempty name="count"}{$count}{else}0{/notempty} results found</p>
    </div>
</section>
<!-- result 搜索结果页面 -->
<section class="Result clear">
    <div class="content fl clear" style="padding: 0 10px">
        <ul class="ResultList clear">
            {notempty name="result"}
            {volist name="result" id="vo"}
            <li class="relative fl">
                <div class="pd10 bgWhite clear">
                    <a href="/en_us/product/{$vo.url_title}" target="_blank" style="margin-bottom: 10px"><img class="w100"
                                                                                                       src="{$vo.album|getThumbnail}"
                                                                                                       alt=""></a>
                    <div class="cont w100">
                        <h2><a class="fNomal model_link" href="/en_us/product/{$vo.url_title}" target="_blank" style="min-height: 34px;">{$vo.name}</a></h2>
                        <div class="btn">
                            <a class="fl f12 model_link" href="/en_us/product/{$vo.url_title}" target="_blank">{$vo.model}</a>
                            <a class="fr f12 fGray btn_link" href="/en_us/product/{$vo.url_title}" target="_blank"
                               style="border: 1px solid #e9e9e9">Details</a>
                        </div>
                    </div>
                    <i class="icon-trophy icon-3x absolute fOrange"></i>
                </div>
            </li>
            {/volist}
            {else /}
            {/notempty}
        </ul>
    </div>
</section>
<section>
    <div class="w-product-paging-box tc">
        {notempty name="result"}
        {:pagination($result)}
        {/notempty}
    </div>
</section>
{/block}
{block name="script"}
<script src="__STATIC__/frontend/en-us/js/minHeight/minHeight.js"></script>
<script>
    max($("ul.ResultList > li > div > .cont > h2 > a"));
    max($("ul.ResultList > li > div > div > p"))
</script>
{/block}