<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{$title}</title>
    <!-- Bootstrap Core CSS -->
    <link href="__USER__/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__USER__/vendors/layui/css/layui.css">
    <!-- MetisMenu CSS -->
    <link href="__USER__/vendors/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__USER__/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="__USER__/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="">
            <div class="login-panel panel panel-default" style="margin-bottom: 20%">
                <div class="panel-body">
                    <div class="text-left"><image src="__IMAGE__/WAVLINK-LOGOV2.png" width="320px" /><hr /></div>
                    <form role="form" class="form-horizontal" id="form-data">
                        <div class="form-group">
                            <label for="Email" class="col-sm-2 control-label">{$Think.lang.Email}</label>
                            <div class="col-sm-5">
                                <input type="email" class="form-control" id="Email" placeholder="abc@wavlink.com" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">{$Think.lang.Password}</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repassword" class="col-sm-2 control-label">{$Think.lang.rePassword}</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="repassword" name="repassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="verify" class="col-sm-2 control-label">{:L('input verify')}</label>
                            <div class="col-sm-5">
                                <div class="col-sm-5">
                                    <input class="form-control" name="verify" type="text" id="verify" style="position: absolute;left: 1%;width: 200%"><br />
                                </div>
                                <div class="col-sm-5">
                                    <i class="layui-icon yes" id="vef" style="display:none;position: absolute;left: 102%; font-size: 2em;color: green">&#xe605</i>
                                    <i class="layui-icon yes" id="vefi" style="display:none;position: absolute;left: 102%; font-size: 2em;color: red">&#x1006</i></div><br /><br />
                                <img id="verify_img" src="{:U('verify',array())}" width="65%" title="{:L('Verify')}">
                            </div>
                        </div>
                        <input type="hidden" name="create_time">
                        <input type="hidden" name="update_time">
                        <input type="hidden" name="create_ip">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-2">
                                <button type="button" class="btn btn-info pull-right form-control" id="button_update">{$Think.lang.Register}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer navbar-fix-button">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2004-2017 <a href="#">wavlink</a>.</strong> All rights
    reserved.
</div>
<!-- jQuery -->
<script src="__USER__/vendors/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__USER__/vendors/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__USER__/vendors/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__USER__/dist/js/sb-admin-2.js"></script>
<!--commons by rootkit-->
<script src="__JS__/commons.js"></script>
<script src="__USER__/layer/layer.js"></script>
<script src="__USER__/dist/js/dialog.js"></script>
<script type="application/javascript">
    var SCOPE={
        'update_url':'register'
    }
    $("#verify_img").click(function () {
        var verifyURL = "verify";
        var time = new Date().getTime();
        $("#verify_img").attr({
            "src" : verifyURL + "/" + time
        });
    });
    $("#verify").keyup(function () {
        $.post("checkVerify",{code: $("#verify").val()},function (data) {
            if(data == true){
                $("#vef").css("display","block");
                $("#vefi").css("display","none");
                //return true
            }else {
                $("#vefi").css('display',"block");
                $("#vef").css("display","none");
                //return false;
            }
        })
    })
</script>

</body>

</html>
