div.tab-bar .tab-bar-title {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    padding: 0.4rem 0.4rem;
    /*height: 50px;*/
    /*line-height: 50px;*/
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
}
div.tab-bar .tab-bar-title p {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    line-height: normal;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    font-size: 16px;
}
div.tab-bar .tab-bar-title i {
    display: inline-block;
    width: 20px;
    margin-left: .4rem;
    transition: .5s;
    font-size: .48rem;
}
div.tab-bar ul {
    display: none;
    margin-bottom: .4rem;
    background-color: #fff
}
div.tab-bar ul li {
    /*height: 42px;*/
    line-height: 50px;
    width: 100%;
    padding: 0 .4rem;
    border-bottom: 1px solid #eaeaea;
}
div.tab-bar ul li a {
    color: #333
}
div.content {
    margin-bottom: 20px;
}
div.content > div {
    display: none;
}
div.g-item-detail {
    margin-bottom: .4rem;
    padding: .4rem;
}
div.g-item-detail dl:nth-of-type(1) dd a {
    color: #333;
}
div#faqs th {
    font-size: 14px;
}
div#faqs td {
    font-size: 12px;
}
div#faqs td a {
    color: #333;
}
.currentActive {
    color: #3b6caa;
}

.specifications-container > div > div {
    border-bottom: 1px solid #eaeaea;
}
.specifications-container > div > div > p:nth-last-of-type(1) {
    margin-bottom: 14px;
}
.editormd-html-preview {
    padding: .4rem;
}
.editormd-html-preview li {
    margin-bottom: 2px;
    text-indent: -9px;
    margin-left: 9px
}

.markdown-body h4 {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: normal;
}
.markdown-body p {
    margin-bottom: 4px;
    font-size: 14px;
}