<!DOCTYPE html>
<html lang="en-us">
<head>
    <!--头部公共空间开始-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="author" content="winstars">
    {block name="title"}
    <title>Base - by winstars</title>
    {/block}
    {block name="seo"}
    <meta name="description" content="描述">
    <meta name="keywords" content="keywords">
    {/block}
    <link rel="stylesheet" href="__STATIC__/frontend/en-us/css/Common-style/Common-style.css">
    <link rel="stylesheet" href="__STATIC__/frontend/en-us/css/Common-style/themeColor.css">
    <link rel="stylesheet" href="__STATIC__/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="__STATIC__/frontend/lib/Swiper/css/swiper.min.css">
    <style>
        #callus {
            --call-us-form-header-background: #3b6caa;
            --call-us-header-text-color: #f5f9ff;
            position: fixed;
            bottom: 320px;
            right: 6px;
        }
        .tips{
            font-size: 20px;
        }
        .tips a{
            display: inline;
            color: #3b6caa;
        }
        .tips a:hover{
            text-decoration:underline
        }
    </style>
    {block name="style"}

    {/block}
</head>
<body>
{block name="navbar"}
<!-- Home 页眉 -->

<section class="header">
    <div class="tc bgWhite relative" style="z-index: 11; padding: 8px 20px; background-color: #f2f2f2">
        <p class="tips">Download Winstars Catalogue 2019Q4 <a href="//files.win-star.com/category/2019Q4.pdf" target="_blank">Pdf</a> or <a href="//files.win-star.com/category/2019Q4.zip">Zip</a>(for 2019 HK Consumer Electronics Exhibition)</p>
    </div>
    <div class="w-home-box bgWhite relative">
        <div class="w-home-cont DisplayFlex align-items_center">
            <!-- Home 网站LOGO -->
            <div class="w-home-nav-logo tl ml20 w20">
                <a href="/en_us/" class="dInlineBlack">
                    <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22150%22%20height%3D%2245%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20150%2045%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e1fbc99a4%20text%20%7B%20fill%3A%23b6b6b6%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e1fbc99a4%22%3E%3Crect%20width%3D%22150%22%20height%3D%2245%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2260.9375%22%20y%3D%2227%22%3Elogo%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-src="//files.win-star.com/images/2019/10/31/logo02.svg"
                         class="lazy" alt="" style="width:150px;padding:8px 0;transform: scale(1.1)">
                </a>
            </div>
            <!-- Home 产品列表 -->
            <ul id="nav-container" class="DisplayFlex flex_1 w-home-nav-list clear tc">
                <li>
                    <a class="link product">
                        PRODUCT
                        <i class="iconfont icon-arrowdown"></i>
                    </a>
                    <div class="hammer_screen bgWhite borderThemeColor w100 absolute">
                        <div class="DisplayFlex justify-content_flex-center align-items_flex_start">
                            {notempty name="tree"}
                            {volist name="tree" id="item"}
                            <dl class="tl pl20">
                                <dt>
                                    <a class="fontThemeColor" href="/en_us/category/{$item.url_title}.html">
                                        <h4 class="font_color_title">
                                            {$item.name}
                                        </h4>
                                    </a>
                                </dt>
                                {notempty name="item.child"}
                                {volist name="item.child" id="vo"}
                                <dd>
                                    <a href="/en_us/category/{$vo.url_title}.html">{$vo.name}</a>
                                </dd>
                                {/volist}
                                {/notempty}

                            </dl>
                            {/volist}
                            {else /}
                            {/notempty}
                        </div>
                    </div>
                </li>
                <li>
                    <a class="link support">
                        SUPPORT
                        <i class="iconfont icon-arrowdown"></i>
                    </a>
                    <div class="hammer_screen bgWhite borderThemeColor w100 absolute">
                        <div class="DisplayFlex justify-content_flex-center">
                            <div>
                                <a class="pt-pb-6" href="/en_us/support/manual.html">Manuals</a>
                                <a class="pt-pb-6" href="/en_us/support/driver.html">Drives</a>
                                <a class="pt-pb-6" href="/en_us/support/faq.html">F.A.Q</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="link about">
                        ABOUT
                        <i class="iconfont icon-arrowdown"></i>
                    </a>
                    <div class="hammer_screen bgWhite borderThemeColor w100 absolute">
                        <div class="DisplayFlex justify-content_flex-center">
                            <div>
                                <a class="pt-pb-6" href="/en_us/about/Company_Overview.html">Company</a>
                                <a class="pt-pb-6" href="/en_us/about/content_us.html">Contact Us</a>
                                <a class="pt-pb-6" href="/en_us/about/milestone.html">Milestone</a>
                                <a class="pt-pb-6" href="/en_us/about/Privacy.html">Privacy</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li>
                    <a href="{:url('/'.$code.'/Job_Fair')}" class="link fontThemeColor">JOIN US</a>
                </li>-->
            </ul>
            <!-- Home 图标按钮 -->
            <div class="w-home-nav-search  tr h5">
                <a href="#" class="search dInlineBlack">
                    <i class="iconfont" style="font-size: 24px"></i>
                </a>
            </div>
        </div>

        {block name="search"}
        <!-- Home 搜索框 -->
        <div class="w-home-form-search-box absolute w100 dNone" style="top: 100%; left: 0">
            <div class="w-home-form-search-cont clear w50 oh">
                <form action="{:url('/'.$code.'/search/product')}" method="get" class="clear mt5 mb5">
                    <input class="fl cursorP w80 pr15 pl15 b bcWhite" type="text" name="key"
                           placeholder="Please enter your product name">
                    <input class="fl cursorP w20 complexThemeColor fWhite b bcWhite" type="submit" value="Search">
                </form>
            </div>
        </div>
        {/block}
    </div>
</section>
{/block}
{block name="banner"}
<section>

</section>
{/block}
{block name="body"}
{/block}
<!-- Home 页脚 -->
<section>
    <div class="w-home-footer-box">
        <div class="" style="padding:20px 0; background: #333;">
            <div class="w-home-footer-cont mb50 DisplayFlex justify-content_flex-center">
                <dl>
                    <dt class="fWhite pb2 f12">WHO WE ARE?</dt>
                    <dd><a href="/en_us/about/Company_Overview.html">Company</a></dd>
                    <dd><a href="/en_us/about/content_us.html">Contact Us</a></dd>
                    <dd><a href="/en_us/about/milestone.html">Milestone</a></dd>
                    <dd><a href="/en_us/about/Privacy.html">Privacy</a></dd>
                    <!--<dd><a href="/en_us/about/join_us.html">Join Us</a></dd>-->
                </dl>
                <dl>
                    <dt class="fWhite pb2 f12">NEED HELP?</dt>
                    <dd><a href="/en_us/support/driver.html">Manuals</a></dd>
                    <dd><a href="/en_us/support/driver.html">Drivers</a></dd>
                    <dd><a href="/en_us/support/driver.html">F.A.Q</a></dd>
                    <!--<dd><a href="#"></a></dd>-->
                </dl>
            </div>
        </div>
        <div class="put-on-records tc complexThemeColor" style="padding: 8px 0;font-size: 11px;color: #EEE;">
            <p>©1997 -
                <script>var nowYear = new Date().getFullYear();
                document.write(nowYear)</script>
                Winstars Technology Ltd. All Rights Reserved.
            </p>
            <span>
                <a href="/" class="fWhite cursorP" style="display: inline">Powered by Winstars</a>
            </span>
        </div>
    </div>
</section>
<section>
    <!-- 遮罩层 -->
    <div class="mask_layer fixed"></div>
</section>
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
<script src="__STATIC__/lib/jquery/jquery-3.2.1.min.js"></script>

<script src="__STATIC__/frontend/en-us/js/Common-style/Common-style.js"></script>
<!--//Swiper-->
<script src="__STATIC__/frontend/lib/Swiper/js/swiper.min.js"></script>
<!--//liveChat-->
<script src="__STATIC__/lib/chat/callus.js"></script>
<!--//弹窗-->
<!--<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>-->
<!--//lazy-->
<script src="__STATIC__/frontend/lib/lazyload/jquery.lazyload.js"></script>
<script>
    $('.lazy').lazyload()
</script>
<script>
    var hammer_screen_btn = $("#nav-container > li"); // 垂幕按钮
    var hammer_screen = $("#nav-container > li > div.hammer_screen"); // 垂幕
    var SearchBar = $(".w-home-form-search-box"); // 搜索框
    var mask = $(".mask_layer"); // 遮罩层

    hammer_screen_btn.click(function (e) {
        window.event ? window.event.cancelBubble = true : e.stopPropagation();
        SearchBar.slideUp();
        mask.fadeIn();
        $(this).find("> a").addClass("complexThemeColor");
        $(this).siblings().find("> a").removeClass("complexThemeColor");

        $(this).find(".hammer_screen").stop(false, true).animate({
            opacity: 1,
            "z-index": 100
        }, 150).slideDown();
        $(this).siblings().find(".hammer_screen").stop(false, true).animate({
            opacity: 0,
            "z-index": 0
        }, 150).slideUp()
    });

    $(document).click(function () {
        mask.fadeOut();
        hammer_screen.slideUp();
    });
</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        speed: 800,
        autoplay: {
            delay: 6000,
            disableOnInteraction: false
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    });
</script>
{block name="script"}
{/block}
<call-us id="callus"
         style="position: fixed; bottom: 8px; right: 8px; z-index:9999;"
         phonesystem-url="https://mylivechat.west.3cx.us:5001/"
         party="winstars"
         invite-message="Can I help you?"
         allow-call="false"
         allow-video="false"
         allowfocus="true"
         operator-name="serviceGroup"
         operator-icon="http://cdn.speedytel.com/image/avatar.jpg"
         minimized="true"
         window-title="Let's chat"
         authentication="both">
</call-us>
{$seo.analysis_code}
</body>
</html>