<!--当系统内容缺失或者故意让用户看到该提示时用到该块内容-->
<div class="NoContent bgWhite" style="box-shadow: none;margin:5px 5px 0">
    <dl>
        <dt>
            <h3>The website upgrade is in progress</h3>
        </dt>
        <dd>
            <p>No product is available right now for your reference, please keep up with our update
                as new products are coming soon!</p>
        </dd>
        <dd>
            <p>However, for further information, please contact our salesperson, or send us emails
                to <a class="dInlineBlack fOrange" href="mailto:winstars@win-star.com">winstars@win-star.com</a>,
                we will be glad to solve your questions instantly!</p>
        </dd>
        <dd>
            <p>Thanks for your understanding!</p>
        </dd>
    </dl>
</div>