<div class="Interested mt10">
    <!-- 主标题 -->
    <p class="InterestedTitle f20 bgWhite tc" style="margin:0 5px 5px;padding: 10px">See also</p>
    <!-- 盒子 -->
    <div class="InterestedChild clear">
        <!-- 产品 -->
        {notempty name="interested"}
        {volist name="interested" id="vo"}
        <div class="child relative fl" style="width: 33.333%">
            <div style="margin:5px">
                <div class="pd10 bgWhite clear">
                    <a href="/en_us/product/{$vo.url_title}.html" target="_blank"
                       style="margin-bottom: 10px">
                        <img class="w100 lazy"
                             src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22960%22%20height%3D%22540%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20960%20540%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16c8997ebd5%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A48pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16c8997ebd5%22%3E%3Crect%20width%3D%22960%22%20height%3D%22540%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22328.90625%22%20y%3D%22291.6%22%3ELoading...%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                             data-src="{$vo.thumbnail}" alt=""></a>
                    <div class="cont w100">
                        <h2><a class="fNomal model_link" href="/en_us/product/{$vo.url_title}.html"
                               target="_blank" style="min-height: 34px;">{$vo.name}</a></h2>
                        <div class="model_link mt5">
                            <a class="fl model_link f12" style="padding: 6px 0"
                               href="/en_us/product/{$vo.url_title}.html"
                               target="_blank">{$vo.model}</a>
                            <a class="fr fGray complexThemeColor bg_inverted f12"
                               href="/en_us/product/{$vo.url_title}.html"
                               style="padding: 4px 10px; border: 1px solid #e9e9e9">Details</a>
                        </div>
                    </div>
                    <i class="icon-trophy icon-3x absolute fOrange"></i>
                </div>
            </div>
        </div>
        {/volist}
        {/notempty}
    </div>
</div>