<!-- banner轮播 -->
<div class="swiper-container swiper-container-initialized swiper-container-horizontal w100">
    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-3240px, 0px, 0px);">
        <div class="swiper-slide" style="width: 1080px;">
            <a href="#">
                <img class="w100" src="//files.win-star.com/images/2019/08/05/banner.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide" style="width: 1080px;">
            <a href="#">
                <img class="w100" src="//files.win-star.com/images/2019/08/05/banner1.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-bullets-dynamic"
         style="width: 80px;"><span class="swiper-pagination-bullet" style="left: -16px;"></span><span
            class="swiper-pagination-bullet swiper-pagination-bullet-active-prev-prev"
            style="left: -16px;"></span><span
            class="swiper-pagination-bullet swiper-pagination-bullet-active-prev"
            style="left: -16px;"></span><span
            class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main"
            style="left: -16px;"></span><span
            class="swiper-pagination-bullet swiper-pagination-bullet-active-next"
            style="left: -16px;"></span><span
            class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next"
            style="left: -16px;"></span><span class="swiper-pagination-bullet" style="left: -16px;"></span><span
            class="swiper-pagination-bullet" style="left: -16px;"></span><span class="swiper-pagination-bullet"
                                                                               style="left: -16px;"></span><span
            class="swiper-pagination-bullet" style="left: -16px;"></span></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>