{extend name="mobile/base/base"}
{block name="title"}Support index{/block}
{block name="seo"}
<meta name="description" content="">
<meta name="keywords" content="">
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/frontend/mobile/css/pages/product.css">
{/block}
{block name="banner"}
<div class="row">
    {include file="mobile/base/swiper" /}
</div>
{/block}
{block name="body"}
<div class="row">
    <div class="g-path">
        <ul>
            <li><a href="/en_us/"><i class="iconfont">&#xeb1b;</i></a></li>
            <li><i > > </i></li>
            <li><a href="/en_us/support.html">SUPPORT</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="product">
        <div class="title">
            <span class="line"></span>
            <h3>Support</h3>
        </div>
        <div class="product-box">
            <a href="/en_us/support/driver.html">
                <img src="http://files.win-star.com/images/category/Outdoor_Extender.jpg" alt="">
                <div class="description">
                    <h3>Driver Download</h3>
                    <p>The driver file is a little bit large, it is recommeded to access the page and download it by using computer.</p>
                </div>
            </a>
        </div>
        <div class="product-box">
            <a href="/en_us/support/manual.html">
                <img src="http://files.win-star.com/images/category/Outdoor_Extender.jpg" alt="">
                <div class="description">
                    <h3>Manuals Download</h3>
                    <p>The manual file is a little bit large, it is recommeded to access the page and download it by using computer.</p>
                </div>
            </a>
        </div>
        <div class="product-box">
            <a href="/en_us/support/faq.html">
                <img src="http://files.win-star.com/images/category/Outdoor_Extender.jpg" alt="">
                <div class="description">
                    <h3>F.A.Q</h3>
                    <p>F.A.Q</p>
                </div>
            </a>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
{/block}