{extend name="public/base_form" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/markdown/lib/codemirror/codemirror.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/markdown/css/editormd.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/lib/kindeditor/themes/default/default.css">
{/block}
{block name="form"}
<form class="form form-horizontal" id="form-product-add" method="post" action="">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>产品名称：</label>
        <div class="formControls col-xs-8 col-sm-4">
            <input type="text" class="input-text" value="" placeholder="" id="name" name="name">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>产品型号：</label>
        <div class="formControls col-xs-8 col-sm-4">
            <input type="text" class="input-text" value="" placeholder="" id="model" name="model">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>URL标题：</label>
        <div class="formControls col-xs-8 col-sm-4">
            <input type="text" class="input-text" value="" placeholder="url标题必须唯一，且只能是字母、数字和下划线_及破折号-及英文句号."
                   id="url_title" name="url_title">
        </div>
    </div>

    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>seo标题：</label>
        <div class="formControls col-xs-8 col-sm-4">
            <input type="text" class="input-text" value="" placeholder="" id="seo_title" name="seo_title">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>关键字：</label>
        <div class="formControls col-xs-8 col-sm-4">
            <input type="text" class="input-text max64" value="" placeholder="" id="keywords" name="keywords">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>副标题/描述：</label>
        <div class="formControls col-xs-8 col-sm-4">
                <textarea name="description" cols="" rows="" class="textarea max100" placeholder="说点什么...100个字符以内"
                          dragonfly="true"></textarea>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>产品特色说明：</label>
        <div class="formControls col-xs-8 col-sm-11">
            <span>**请使用markdown语法来编写文案，而且你可以使用除了style,script,iframe以外的大部分无公害的标签来展示你的内容**</span>
            <div id="features">
                <textarea name='features' style="display:none;"></textarea>
            </div>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>列表图：</label>
        <div class="formControls col-xs-8 col-sm-6">
            <input type="text" class="input-text" value="" placeholder="列表封面" id="thumbnail"
                   name="thumbnail">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>产品图册地址集：</label>
        <div class="formControls col-xs-8 col-sm-11">
                <textarea name="album" cols="" rows="" class="textarea" placeholder="album字段，图片地址URL用','(英文逗号)隔开"
                          dragonfly="true" style="height: 150px"></textarea>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1">选择产品所属分类：</label>
        <div class="formControls col-xs-8 col-sm-11">
            {volist name="categorys" id="vo"}
            <dl class="permission-list">
                <dt>
                    <label style="color: blue">
                        <input type="checkbox" value="{$vo.id}" name="cates[]" id="user-Character-0">
                        {$vo.name}</label>
                </dt>
                <dd>
                    <dl class="cl permission-list2">
                        <dd>
                            {volist name="$vo.child" id="v"}
                            <label class="">
                                <input type="checkbox" value="{$v.id}" name="cates[]" id="user-Character-1-0-0">
                                {$v.name}
                            </label>
                            {/volist}
                        </dd>
                    </dl>
                </dd>
            </dl>
            {/volist}
        </div>
    </div>

    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>所属语言：</label>
        <div class="formControls col-xs-8 col-sm-2">
            <input type="text" class="input-text" value="{$language_id|getLanguageOne}" placeholder="" disabled>
            <input type="hidden" value="{$language_id}" name="language_id">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1">产品描述：</label>
        <div class="formControls col-xs-8 col-sm-11">
            <span>**请使用markdown语法来编写文案，而且你可以使用除了style,script,iframe以外的大部分无公害的标签来展示你的内容**</span>
            <div id="content">
                <textarea name='content' style="display:none;" placeholder="数据库features字段，使用html代码，li标签 "></textarea>
            </div>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-1">规格参数：</label>
        <div class="formControls col-xs-8 col-sm-11">
            <span>**请使用markdown语法来编写文案，而且你可以使用除了style,script,iframe以外的大部分无公害的标签来展示你的内容**</span>
            <div>
                <textarea id="specifications" type="text/plain" name="specifications"></textarea>
            </div>
        </div>
    </div>
    <div class="row cl">
        {:token()}
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
            <button class="btn btn-primary radius" type="button" onclick="save('{:url(\'product/save\')}')"><i
                    class="Hui-iconfont">&#xe632;</i> 保存
            </button>

            <button onClick="layer_close();" class="btn btn-default radius" type="button">
                &nbsp;&nbsp;取消&nbsp;&nbsp;
            </button>
        </div>
    </div>
</form>
{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/lib/markdown/editormd.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
    var SCOPE = {
        'uploadify_swf': '__STATIC__/admin/uploadify/uploadify.swf',
        'image_upload': "{:url('api/image/upload')}"
    };
</script>
<!--分配编辑器-->
<script>
    var prd_content;
    var Editor;
    var specifications;
    $(function () {
        Editor = editormd("features", {
            width: "100%",
            height: 320,
            path: "__STATIC__/lib/markdown/lib/",
            htmlDecode: "style,script,iframe",
            tex: true,
            emoji: true,
            taskList: true,
            flowChart: true,
            sequenceDiagram: true,
            saveHTMLToTextarea: true,
            markdown: "##在这里尽情的书写你娴熟的markdown吧",
        });
        prd_content = Editor = editormd("content", {
            width: "100%",
            height: 740,
            path: "__STATIC__/lib/markdown/lib/",
            htmlDecode: "style,script,iframe",
            markdown: "##在这里尽情的书写你娴熟的markdown吧",
            tex: true,
            emoji: true,
            taskList: true,
            flowChart: true,
            sequenceDiagram: true,
            saveHTMLToTextarea: true,
            //image upload
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "{:url('api/image/markdownUpload')}"
        });
        var tiny_editor;
        KindEditor.ready(function (K) {
            tiny_editor = K.create('#specifications', {
                width: "100%",
                height: '900px',
                LangType: 'zh-CN',
                filterMode: false,
                allowFileManager: true,
                afterChange: function () {
                    this.sync();
                },
                afterBlur: function () {
                    this.sync();
                }
            })
        });
        $(".max100").Huitextarealength({
            minlength: 10,
            maxlength: 355
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".permission-list dt input:checkbox").click(function () {
            $(this).closest("dl").find("dd input:checkbox").prop("checked", $(this).prop("checked"));
        });
        $(".permission-list2 dd input:checkbox").click(function () {
            var l = $(this).parent().parent().find("input:checked").length;
            var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
            if ($(this).prop("checked")) {
                $(this).closest("dl").find("dt input:checkbox").prop("checked", true);
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
            }
            else {
                if (l == 0) {
                    $(this).closest("dl").find("dt input:checkbox").prop("checked", false);
                }
                if (l2 == 0) {
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
                }
            }
        });
    });
</script>
{/block}