{extend name="public/base" /}
{block name="title"}
<title>产品管理-WINSTARS WEBSITE MANAGER CENTER</title>
{/block}
{block name="menu"}{include file="public:content_navbar" /}{/block}
{block name="nav"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    首页产品管理
    <span class="c-gray en">&gt;</span>
    首页产品管理({$language_id|getLanguage})
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
{/block}
{block name="main"}
<article class="cl pd-20" style="min-height: 51em;padding: 5px 10px 0 10px">
    <form method="get" action="{:url('Product/index')}">
        <div class="text-c"> 搜索名称：
            <input type="text" class="input-text" style="width:250px;" placeholder="输入产品名称" id="" value="{$name}"
                   name="name">
            <span class="select-box" style="padding: 6px 5px;width: 15%">
                    <select name="category_id" class="select">
                        <option value="">--选择分类名称--</option>
                        {volist name="category" id="vo"}
                        <option value="{$vo.id}" {eq name="$category_id" value="$vo.id" } selected=\"selected\"{/eq}>{$vo.delimiter}{$vo.name}</option>
                        {/volist}
                    </select>
                </span>
            <button type="submit" class="btn btn-success" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
        <input type="hidden" value="{$language_id}" id="language" name="language_id">
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l"> <a href="javascript:;" onclick="allRecycle('{:url(\'product/allRecycle\')}')"
                                    class="btn btn-danger radius"><i
                        class="Hui-iconfont">&#xe6e2;</i> 批量回收</a> <a class="btn btn-primary radius"
                                                                      onclick="index_add('添加产品({$language_id|getLanguageOne})','{:url(\'product/add\',[\'language_id\'=>$language_id])}')"
                                                                      href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加{$language_id|getLanguage}产品</a></span>
        <span class="r">共有数据：<strong>{$counts}</strong> 条</span>
    </div>
    <div class="mt-20" style="overflow: scroll">
        <table class="table table-border table-bordered table-bg table-hover table-sort" style="width: 1680px">
            <thead>
            <tr>
                <th scope="col" colspan="14">{$language_id|getLanguage}产品列表</th>
            </tr>
            <tr class="text-c">
                <th width="20"><input type="checkbox" name="" value=""></th>
                <th width="50">ID</th>
                <th width="40">缩略图</th>
                <th width="">产品名称</th>
                <th width="100">产品型号</th>
                <th width="350">所属分类</th>
                <th width="28">排序</th>
                <th width="80">加入时间</th>
                <th width="265">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="product" id="vo"}
            <tr>
                <td class="text-c"><input type="checkbox" value="{$vo.id}" name="id"></td>
                <td class="text-c">{$vo.id}</td>
                <td class="text-c">{empty name="$vo.thumbnail"}{else/}<img class="avatar size-M radius"
                                                                           src="{$vo.thumbnail}">{/empty}
                </td>
                <td class="text-left" title="{$vo.name}">{$vo.name}</td>
                <td class="text-left">{$vo.model}</td>
                <td>{$vo.id|getChild}</td>
                <td class="text-c listorder"><input type="text" value="{$vo.listorder}" size="6" attr-id="{$vo.id}"
                                                    name="listorder"></td>
                <td>{$vo.create_time|strtotime|date="Y-m-d",###}</td>
                <td class="td-manage">
                    <a title="编辑" href="javascript:;"
                       onclick="index_edit('产品编辑','{:url(\'product/product_edit\',[\'id\'=>$vo.id,\'language_id\'=>$language_id])}')"
                       class="btn btn-primary radius" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="推荐后，将在详情页相关页面展示为畅销产品"
                       onclick="topmark('{:url(\'product/mark\',[\'id\'=>$vo.id,\'language_id\'=>$language_id])}')"
                       class="btn btn-primary radius" style="text-decoration:none">推荐</a>
                    <a title="放入回收站" href="javascript:;"
                       onclick="recycle('{:url(\'product/byStatus\',[\'id\'=>$vo.id,\'status\'=> -1])}')"
                       class="btn btn-danger radius"
                       style="text-decoration:none"><i style="font-size: 20px;" class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>

            {/volist}
            </tbody>
        </table>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-winstar">{:pagination($product)}</div>

</article>
{include file="public/explain" /}
{/block}
{block name="js"}
<script>
    var SCOPE = {
        'listorder_url': "{:url('product/listorder')}",
        'sort_url': "{:url('product/sort')}"
    };
    $(document).ready(function () {
        $("#menu-product dt").addClass("selected");
        $("#menu-product dd").css("display", "block");
        var lan = $("input#language").val();
        var id = "#product_product_" + lan;
        $(id).addClass("current");
        $("#content").addClass("current");
    });

    function topmark(url) {
        $.ajax({
            type: 'post',
            url: url,
            dataType: 'json',
            data: '',
            success: function (result) {
                if (result.status === 1) {
                    dialog.OK(result.data, result.jump_url);
                } else if (result.status === 0) {
                    dialog.error(result.data, result.title, result.btn);
                } else if (result.status === -1) {
                    dialog.toconfirm(result.data)
                }
            },
        })
    }
</script>
{/block}