{extend name="pc/base/base"}
{block name="title"}
<title>{$seo.title} --By win-star</title>
{/block}
{block name="seo"}
<meta name="keywords" content="{$seo.keywords}">
<meta name="description" content="{$seo.description}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/frontend/en-us/css/style/Home.css">
{/block}
{block name="banner"}
<section>
    <div class="swiper-container swiper-container-initialized swiper-container-horizontal w100">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-3240px, 0px, 0px);">
            {notempty name="banner"}
            {volist name="banner" id="item"}
            <div class="swiper-slide" style="width: 1080px;">
                <a href="{$item.url}">
                    <img class="w100 lazy" data-src="{$item.big_image}" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%221920%22%20height%3D%22680%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201920%20680%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16ca8b8f68c%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A96pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16ca8b8f68c%22%3E%3Crect%20width%3D%221920%22%20height%3D%22680%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22657.8125%22%20y%3D%22382.9%22%3ELoading...%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="">
                </a>
            </div>
            {/volist}
            {/notempty}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>
{/block}
{block name="body"}
{$content}
{notempty name="partner"}
<!--<section>
    <div class="w-home-new-product-box" style="margin-top: 80px">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container1">
            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-2220px, 0px, 0px);">
                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0"
                     style="width: 1080px; margin-right: 30px;">
                    <a href="/en_us/product/WS-UTD21.html">
                        <img src="//files.win-star.com/images/2019/07/26/UTD-Dock-1.jpg" alt="" class="w100">
                    </a>
                </div>
                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1"
                     style="width: 1080px; margin-right: 30px;">
                    <a href="#">
                        <img src="//files.win-star.com/images/2019/07/26/MESH1.jpg" alt="" class="w100">
                    </a>
                </div>
            </div>
            &lt;!&ndash; Add Pagination &ndash;&gt;
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                      aria-label="Go to slide 2"></span>
            </div>
            &lt;!&ndash; Add Arrows &ndash;&gt;
            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>
            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
</section>-->

<!-- Home 畅销产品 -->
<!--<section>
    <div class="w-home-our-products-box">
        <div class="w-home-our-products-cont pt80 pb80">
            <h2 class="tc f24 pt15 pb15 fOrange">– HOT SALE –</h2>
            <div class="w-home-our-products-list clear">
                {notempty name="hotSale"}
                {volist name="hotSale" id="vo"}
                <div class="fl">
                    <div>
                        <div class="img relative">
                            <img class="w100" src="{$vo.album}" alt="">
                            <h3><a href="/en_us/category/{$vo.categorys['url_title']}.html"
                                   class="f14 pt-pb-6 pr-pl-14 bgOrangeWhite">BELONG TO {$vo.categorys['name']}</a></h3>
                        </div>
                        <div class="product-box w100 relative clear bgWhite pr14 pl14 pt20 pb20">
                            <p class="mb20 f14 fGrayBlack lh16"><a
                                    href="/en_us/product/{$vo.url_title}.html">{$vo.name}</a></p>
                            <span class="b fOrange pt-pb-6 pr-pl-14 dInlineBlack"><a
                                    href="/en_us/product/{$vo.url_title}.html">{$vo.model}</a></span>
                            <span class="fr"><a href="/en_us/product/{$vo.url_title}.html"
                                                class="b bcOrange f12 pt-pb-6 pr-pl-14">DETAIL</a></span>
                        </div>
                    </div>
                </div>
                {/volist}
                {/notempty}
            </div>
        </div>
    </div>
</section>-->

<section>
    <div class="w-home-partner-box">
        <div class="w-home-partner-cont clear">
            <!--{volist name="partner" id="vo"}
            <a href="{$vo.href}">
            <img src="{$vo.logo}" class="w100"
            alt="{$vo.name}">
            </a>
            {/volist}-->
        </div>
    </div>
</section>
{/notempty}
<!--&lt;!&ndash; w-home-new-product-issue S首页新闻调用 &ndash;&gt;-->
<!--<section>
    <div class="w-home-new-product-issue-box">
        <div class="w-home-new-product-issue-cont">
            <h2 class="center">NEW POSTS FROM WINSTARS</h2>
            <ul>
                <li>
                    <div>
                        <h2>
                            <a href="#">The new product conference was held on July 3, 2018 at 2 p.m. in the exhibition
                                hall of the two floor of the company.</a>
                        </h2>
                        <p>
                            At three o'clock p.m., GS.zhang sponsored the WS-WN535K3 software conference,
                            and many departments participated in the conference. General manager John delivered a speech
                            to encourage the development of new products
                        </p>
                    </div>
                    <span>Webmaster</span>
                    <span>3/7/2018</span>
                    <a href="#">Read More</a>
                </li>
            </ul>
        </div>
    </div>
</section>-->
<!-- Home -->
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script src="__STATIC__/frontend/en-us/js/minHeight/minHeight.js"></script>
<script>
    $(document).ready(function () {
        $(".home").addClass("complexThemeColor");
        $(".button").click(function () {
            $.ajax({
                url: "/en_us/index.html",
                type: "post",
                dataType: "json",
                data: $("#message").serialize(),//提交表单数据
                success: function (result) {
                    if (result.status === 1) {
                        layer.msg(result.data, {icon: 1, time: 2000});
                        setTimeout(function () {
                            window.parent.location.reload();
                        }, 1000);
                    } else {
                        layer.msg(result.data, {icon: 5, time: 1500});
                    }
                }
            })
        });
    });
   /* $(document).ready(function () {
        layer.open({
            type:1,
            content:'<div id="layer" style="padding: 50px; line-height: 22px; background-color: #0099ff; color: #f1f9ff; font-weight: 300;">' +
                '<span style="font-size: 22px">校园招聘 海大站</span><br><span style="font-size: 22px">Job Fair (2019) in GDOU</span><br><br>' +
                '<span style="font-size: 18px">来加入一家快速成长中的品牌科技公司</span><br>' +
                '<span style="font-size: 18px">We want you！</span>' +
                '</div>',
            title:false,
            closeBtn: true,
            area: '500px',
            shade: 0.3,
            resize: false,
            moveType: 1, //拖拽模式，0或者1
            btn:['Check Now'],
            yes:function () {
                location.href="{:url('/en_us/Job_Fair')}";
            },

        });
    })*/
</script>
<script>
    max($("div.w-home-our-products-box > .w-home-our-products-cont > .w-home-our-products-list > div > div > div > p"))
</script>
{/block}