<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Winstars Job Fair (2019) - powered by Winstars</title>
    <script src="/static/lib/jquery/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/jobs/lib/Swiper/swiper.min.js"></script>
    <script src="/static/frontend/en-us/js/Common-style/Common-style.js"></script>
    <link rel="stylesheet" href="__STATIC__/frontend/en-us/css/Common-style/themeColor.css">
    <link rel="stylesheet" href="__STATIC__/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="__STATIC__/jobs/lib/Swiper/swiper.min.css">
    <link rel="stylesheet" href="/static/frontend/en-us/css/Common-style/Common-style.css">
    <link rel="stylesheet" href="__STATIC__/jobs/css/index.css">
</head>
<body>
<section class="header">
    <div class="tc bgWhite relative" style="z-index: 11; padding: 8px 20px; background-color: #f2f2f2">
    </div>
    <div class="w-home-box bgWhite relative">
        <div class="w-home-cont DisplayFlex align-items_center">
            <!-- Home 网站LOGO -->
            <div class="w-home-nav-logo tl ml20 w20">
                <a href="/en_us/" class="dInlineBlack">
                    <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22150%22%20height%3D%2245%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20150%2045%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e1fbc99a4%20text%20%7B%20fill%3A%23b6b6b6%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e1fbc99a4%22%3E%3Crect%20width%3D%22150%22%20height%3D%2245%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2260.9375%22%20y%3D%2227%22%3Elogo%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                         data-src="//files.win-star.com/images/2019/10/31/logo02.svg"
                         class="lazy" alt="" style="width:150px;padding:8px 0;transform: scale(1.1)">
                </a>
            </div>
            <!-- Home 产品列表 -->
            <ul id="nav-container" class="DisplayFlex flex_1 w-home-nav-list clear tc">
                <li>
                    <a class="link product">
                        PRODUCT
                        <i class="iconfont icon-arrowdown"></i>
                    </a>
                    <div class="hammer_screen bgWhite borderThemeColor w100 absolute">
                        <div class="DisplayFlex justify-content_flex-center align-items_flex_start">
                            <dl class="tl pl20">
                                <dt>
                                    <a class="fontThemeColor" href="/en_us/category/WIRELESS_WIFI.html">
                                        <h4 class="font_color_title">
                                            WIRELESS & NETWORKING </h4>
                                    </a>
                                </dt>
                                <dd>
                                    <a href="/en_us/category/Mesh.html">Mesh</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Router.html">Router</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/LTE.html">LTE</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Repeater.html">Repeater</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Outdoor_Extender.html">Outdoor AP</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/AV_Transmission.html">Wireless AV</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/USB_Adapter.html">USB Adapter</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Powerline_Kit.html">Powerline Kit</a>
                                </dd>

                            </dl>
                            <dl class="tl pl20">
                                <dt>
                                    <a class="fontThemeColor" href="/en_us/category/PC PERIPHERALS.html">
                                        <h4 class="font_color_title">
                                            PC PERIPHERALS </h4>
                                    </a>
                                </dt>
                                <dd>
                                    <a href="/en_us/category/Thunderbolt_3.html">Thunderbolt™ 3</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Wireless_Docking_Station.html">Wireless Docking</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Universal_Docking_Station.html">Universal Docking</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/USB-C_Docking_Station.html">USB-C Docking</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Storage_Docking_Station.html">Storage Docking</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/USB_Multiply_Display.html">USB Display</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/USB_Hub.html">USB Hub</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/USB_Charger.html">USB Charger</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Network_Print_Server.html">Network/Print Server</a>
                                </dd>

                            </dl>
                            <dl class="tl pl20">
                                <dt>
                                    <a class="fontThemeColor" href="/en_us/category/iot.html">
                                        <h4 class="font_color_title">
                                            IOT </h4>
                                    </a>
                                </dt>
                                <dd>
                                    <a href="/en_us/category/IP_Camera.html">IP Camera</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Smart_Plug.html">Smart Plug</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Smart_Light.html">Smart Light</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Remote_Controller.html">Remote Controller</a>
                                </dd>

                            </dl>
                            <dl class="tl pl20">
                                <dt>
                                    <a class="fontThemeColor" href="/en_us/category/old_products.html">
                                        <h4 class="font_color_title">
                                            OLD PRODUCTS </h4>
                                    </a>
                                </dt>
                                <dd>
                                    <a href="/en_us/category/old_Network_Print_Server.html">Network/Print Server</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/USB_graphic_adapter_display.html">USB Display</a>
                                </dd>
                                <dd>
                                    <a href="/en_us/category/Video_Grabber.html">Video Grabber</a>
                                </dd>

                            </dl>
                            <dl class="tl pl20">
                                <dt>
                                    <a class="fontThemeColor" href="/en_us/category/others.html">
                                        <h4 class="font_color_title">
                                            OTHERS </h4>
                                    </a>
                                </dt>

                            </dl>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="link support">
                        SUPPORT
                        <i class="iconfont icon-arrowdown"></i>
                    </a>
                    <div class="hammer_screen bgWhite borderThemeColor w100 absolute">
                        <div class="DisplayFlex justify-content_flex-center">
                            <div>
                                <a class="pt-pb-6" href="/en_us/support/manual.html">Manuals</a>
                                <a class="pt-pb-6" href="/en_us/support/driver.html">Drives</a>
                                <a class="pt-pb-6" href="/en_us/support/faq.html">F.A.Q</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="link about">
                        ABOUT
                        <i class="iconfont icon-arrowdown"></i>
                    </a>
                    <div class="hammer_screen bgWhite borderThemeColor w100 absolute">
                        <div class="DisplayFlex justify-content_flex-center">
                            <div>
                                <a class="pt-pb-6" href="/en_us/about/Company_Overview.html">Company</a>
                                <a class="pt-pb-6" href="/en_us/about/content_us.html">Contact Us</a>
                                <a class="pt-pb-6" href="/en_us/about/milestone.html">Milestone</a>
                                <a class="pt-pb-6" href="/en_us/about/Privacy.html">Privacy</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Home 图标按钮 -->
            <div class="w-home-nav-search  tr h5">
                <a href="#" class="search dInlineBlack">
                    <i class="iconfont" style="font-size: 24px"></i>
                </a>
            </div>
        </div>


        <!-- Home 搜索框 -->
        <div class="w-home-form-search-box absolute w100 dNone" style="top: 100%; left: 0">
            <div class="w-home-form-search-cont clear w50 oh">
                <form action="/en_us/search/product.html" method="get" class="clear mt5 mb5">
                    <input class="fl cursorP w80 pr15 pl15 b bcWhite" type="text" name="key"
                           placeholder="Please enter your product name">
                    <input class="fl cursorP w20 complexThemeColor fWhite b bcWhite" type="submit" value="Search">
                </form>
            </div>
        </div>

    </div>
</section>
<section class="">
    <div class="container-fluid">

        <div class="row">
            <div class="hr-banner">
                <img src="__STATIC__/jobs/img/S5.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="hr-company">
                <p>
                    深圳市欣博跃电子有限公司成立于2010年是集研发、设计、生产销售、物流配送及售后服务为一体的国家高新技术企业，公司总部坐落在深圳，占据两个高新产业园（龙华区泰松工业园和光明区华强创意产业园），总占地面积超一万平方米，拥有员工500人左右，目前正处于高速发展阶段，期待有才能的你加入我们！
                </p>
            </div>
        </div>

        <div class="row">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="__STATIC__/jobs/img/swiper/1tu.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/jobs/img/swiper/2tu.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/jobs/img/swiper/3tu.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/jobs/img/swiper/4tu.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div><!--分页器-->
                <div class="swiper-button-prev"></div><!--左箭头-->
                <div class="swiper-button-next"></div><!--右箭头-->
            </div>
        </div>

        <div class="row">
            <div class="welfare">
                <div class="g-hd">
                    <span><img src="__STATIC__/jobs/img/welfare-1.png" alt=""></span>
                    <h2>福利待遇 <span>实现梦想从这里起航</span></h2>
                </div>
                <div class="des">
                    <img src="__STATIC__/jobs/img/welfare-2.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hr-video">
                <video controls="controls" poster="__STATIC__/jobs/img/dasyi.jpg">
                    <source src="//china.wavlink.com/videos/video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="row">
            <div class="hr-job">
                <div class="g-hd">
                    <span><img src="__STATIC__/jobs/img/job.png" alt=""></span>
                    <h2>招聘岗位 <span>实现梦想从这里起航</span></h2>
                </div>
                <div class="des">
                    <div>
                        <p><span>研发类：</span>硬件工程师、软件开发工程师、测试工程师、产品工程师、结构工程师（30名）</p>
                        <p><span>需求专业：</span>电子、软件、计算机或者通讯工程等理工类相关专业。</p>
                        <p><span>学历要求：</span>本科及以上</p>
                    </div>
                    <div>
                        <p><span>营销类：</span>海外业务、电商运营（国际/国内）、品牌专员、市场推广专员（35名）</p>
                        <p><span>需求专业：</span>商务英语、国际经济与贸易、小语种（日/法/德/西班牙）、有英语基础并且对营销岗位感兴趣的其他专业。</p>
                        <p><span>学历要求：</span>本科及以上</p>
                    </div>
                    <div>
                        <p><span>管培类：</span>行政专员、人力资源专员、采购专员、总经理助理、文案策划（15名）</p>
                        <p><span>需求专业：</span>人力资源管理、采购管理、经济管理、物流管理、电子商务等相关专业。</p>
                        <p><span>学历要求：</span>本科及以上</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="hr-resume">
                <div class="g-hd">
                    <span><img src="__STATIC__/jobs/img/resume.png" alt=""></span>
                    <h2>简历投递 <span>实现梦想从这里起航</span></h2>
                </div>
                <div class="des">
                    <p>以下三种方式均可投递（三选一）：</p>
                    <p>方式一：参与我们的现场招聘会，现场投递纸质简历。</p>
                    <p>方式二：在智联招聘、前程无忧、boss直聘三大网站搜索“深圳市欣博跃电子有限公司”，任选一个，进行简历线上投递。</p>
                    <p>方式三：将简历投递至邮箱：<span>hr05@win-star.com</span>（邮件标题：【校招】学校名称+岗位+姓名）</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="hr-contact">
                <div class="company">
                    <img src="__STATIC__/jobs/img/contact.png" alt="">
                </div>
                <div class="des">
                    <p>公司名称：深圳市欣博跃电子有限公司</p>
                    <p>联系电话：<span>075523716083</span>（hr直线座机） 电话：<span>17620476095</span>张小姐（微信同号）</p>
                    <p>公司地址：深圳市龙华新区大浪街道泰松工业园4栋（龙华部）</p>
                    <p>深圳市光明新区华强创意产业园（光明部）</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="w-home-footer-box">
        <div class="" style="padding:20px 0; background: #333;">
            <div class="w-home-footer-cont mb50 DisplayFlex justify-content_flex-center">
                <dl>
                    <dt class="fWhite pb2 f12">WHO WE ARE?</dt>
                    <dd><a href="/en_us/about/Company_Overview.html">Company</a></dd>
                    <dd><a href="/en_us/about/content_us.html">Contact Us</a></dd>
                    <dd><a href="/en_us/about/milestone.html">Milestone</a></dd>
                    <dd><a href="/en_us/about/Privacy.html">Privacy</a></dd>
                    <!--<dd><a href="/en_us/about/join_us.html">Join Us</a></dd>-->
                </dl>
                <dl>
                    <dt class="fWhite pb2 f12">NEED HELP?</dt>
                    <dd><a href="/en_us/support/driver.html">Manuals</a></dd>
                    <dd><a href="/en_us/support/driver.html">Drivers</a></dd>
                    <dd><a href="/en_us/support/driver.html">F.A.Q</a></dd>
                    <!--<dd><a href="#"></a></dd>-->
                </dl>
            </div>
        </div>
        <div class="put-on-records tc complexThemeColor" style="padding: 8px 0;font-size: 11px;color: #EEE;">
            <p>©1997 -
                <script>var nowYear = new Date().getFullYear();
                document.write(nowYear)</script>
                Winstars Technology Ltd. All Rights Reserved.
            </p>
            <span>
                <a href="/" class="fWhite cursorP" style="display: inline">Powered by Winstars</a>
            </span>
        </div>
    </div>
</section>
<section>
    <!-- 遮罩层 -->
    <div class="mask_layer fixed"></div>
</section>
<script src="__STATIC__/frontend/lib/lazyload/jquery.lazyload.js"></script>
<script>
    $('.lazy').lazyload()
</script>
<script>
    var hammer_screen_btn = $("#nav-container > li"); // 垂幕按钮
    var hammer_screen = $("#nav-container > li > div.hammer_screen"); // 垂幕
    var SearchBar = $(".w-home-form-search-box"); // 搜索框
    var mask = $(".mask_layer"); // 遮罩层

    hammer_screen_btn.click(function (e) {
        window.event ? window.event.cancelBubble = true : e.stopPropagation();
        SearchBar.slideUp();
        mask.fadeIn();
        $(this).find("> a").addClass("complexThemeColor");
        $(this).siblings().find("> a").removeClass("complexThemeColor");

        $(this).find(".hammer_screen").stop(false, true).animate({
            opacity: 1,
            "z-index": 100
        }, 150).slideDown();
        $(this).siblings().find(".hammer_screen").stop(false, true).animate({
            opacity: 0,
            "z-index": 0
        }, 150).slideUp()
    });

    $(document).click(function () {
        mask.fadeOut();
        hammer_screen.slideUp();
    })
</script>
<script>

    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 6000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: false//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {  //左右箭头
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });
</script>
</body>
</html>