<!DOCTYPE html>
<html>
<head>
    <!--头部公共空间开始-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="author" content="wavlink">
    {block name="title"}
    <title>Base - by winstars</title>
    {/block}
    {block name="seo"}
    <meta name="description" content="描述">
    <meta name="keywords" content="keywords">
    {/block}
    <link rel="stylesheet" href="__STATIC__/frontend/commons/css/Common-style.css">
    <link rel="stylesheet" href="__STATIC__/lib/font-awesome/css/font-awesome.min.css">
    {block name="style"}
    <link rel="stylesheet" href="./css/Product.css">
    {/block}
</head>
<body>
{block name="nav"}
<!-- w-Home-nav 首页头部导航 -->
<section>
    <div class="w-home-box white">
        <div class="w-home-cont clear">
            <!-- w-home-nav-logo 首页头部导航LOGO -->
            <div class="w-home-nav-logo fl">
                <a href="/">
                    <img src="__STATIC__/frontend/en-us/img/logo.png" alt="">
                </a>
            </div>
            <!-- w-home-nav-list 首页头部导航列表 -->
            <div class="w-home-nav-list clear center fl">
                <a href="#" class="orange">HOME</a>
                <a href="#">ABOUT</a>
                <a href="#">PRODUCT</a>
                <a href="#">BLOG</a>
                <a href="#">F.A.Q</a>
                <a href="#">SUPPORT</a>
            </div>
            <!-- w-home-nav-search 首页头部导航搜索图标 -->
            <div class="w-home-nav-search fr">
                <a href="#" class="search">
                    <i class="icon-search" style="font-size: 28px"></i>
                </a>
                <a href="#" class="on-off">
                    <i class="icon-search" style="font-size: 28px"></i>
                </a>
            </div>
        </div>
        <!-- w-home-nav-search-box 首页头部导航搜索框 -->
        <div class="w-home-form-search-box absolute">
            <div class="w-home-form-search-cont clear">
                <form action="" method="post" class="clear">
                    <input type="text" value="" placeholder="Please enter your product name">
                    <input type="submit" value="search">
                </form>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="main"}

{/block}
{block name="footer"}
<section>
    <div class="w-home-footer-box black">
        <div class="w-home-footer-cont center">
            <dl>
                <dt>WHO WE ARE?</dt>
                <dd><a href="#">About US</a></dd>
                <dd><a href="#">Join US</a></dd>
                <dd><a href="#">Contact Us</a></dd>
                <dd><a href="#"></a></dd>
            </dl>
            <dl>
                <dt>WHAT DO WE OFFER?</dt>
                <dd><a href="#">Thunderbolt 3 product</a></dd>
                <dd><a href="#">Mesh WiFi Router</a></dd>
                <dd><a href="#"></a></dd>
            </dl>
            <dl>
                <dt>NEED HELP?</dt>
                <dd><a href="#">Driver List</a></dd>
                <dd><a href="#">Frequently Asked Questions</a></dd>
                <dd><a href="#"></a></dd>
            </dl>
            <dl class="footer_icon_link">
                <dt>Community </dt>
                <dd><a href="#"><i class="icon-twitter icon-2x"> </i>&nbsp;&nbsp;</a></dd>
                <dd><a href="#"><i class="icon-facebook icon-2x"> </i>&nbsp;&nbsp;</a></dd>
                <dd><a href="#"><i class=" icon-linkedin icon-2x"> </i>&nbsp;&nbsp;</a></dd>
                <dd><a href="#"></a></dd>
            </dl>
        </div>
        <div class="put-on-records center orange" style="padding: 8px 0">
            <p>©1997 - 2018 Winstars Technology Ltd. All Rights Reserved.</p>
            <span style="color: #fff">Powered by Winstars</span>
        </div>
    </div>
</section>
{/block}
<script src="__STATIC__/lib/jquery/jquery-3.2.1.min.js"></script>
<script src="__STATIC__/frontend/commons/js/Home.js"></script>
{block name="js"}
<!--私有业务js区域-->

{/block}
</body>
</html>