<!--包含头部文件-->
{extend name="pc/base/base" /}
{block name="title"}
<title> Support center- By-winstars</title>
{/block}
{block name="seo"}
<meta name="description" content="">
<meta name="keywords" content="">
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/frontend/en-us/css/style/Product.css">
{/block}
{block name="body"}
<!-- w-Product 产品中心 -->
<section>
    <div class="w-product-title">
        <{include file="pc/base/banner" /}
    </div>
</section>

<!-- w-product-path 产品路径 -->
<section>
    <hr style="border: 1px solid #f2f2f2">
    <div class="path-box bgWhite">
        <div class="path-cont">
            <a href="/en_us/" style="display: inline-block" class="f12">
                <i class="iconfont">&#xeb1b;</i>
            </a>
            >
            <a href="/en_us/support.html" style="display: inline-block" class="current f12">SUPPORT</a>
        </div>
    </div>
</section>

<section style="margin-bottom: 40px">
    <div class="ProductBox" style="min-height: 680px;">
        <div class="ProductRow mt80">
            <h2 class="f18 mb15 tc" style="color: #3b6caa">- Support -</h2>
            <div class="ProductList clear">
                <div class="w30 fl">
                    <div class="relative  oh">
                        <img src="http://files.win-star.com/images/category/Outdoor_Extender.jpg" width="100%" alt="">
                        <div class="mask-layer absolute w100 bgMaskLayer animate_time">
                            <a href="/en_us/support/driver.html"><h3 class="fWhite cursorP">Driver Download</h3></a>
                            <p class="mt15 fWhite">
                                The driver file is a little bit large, it is recommeded to access the page and download it by using computer.
                            </p>
                            <a class="More fWhite mt20 tc bgOrange bg_inverted lh30" href="/en_us/support/driver.html" style="border:1px solid transparent">Details</a>
                        </div>
                    </div>
                </div>
                <div class="w30 fl">
                    <div class="relative  oh">
                        <img src="http://files.win-star.com/images/category/Outdoor_Extender.jpg" width="100%" alt="">
                        <div class="mask-layer absolute w100 bgMaskLayer animate_time">
                            <a href="/en_us/support/manual.html"><h3 class="fWhite cursorP">Manuals Download</h3></a>
                            <p class="mt15 fWhite">
                                The manual file is a little bit large, it is recommeded to access the page and download it by using computer.
                            </p>
                            <a class="More fWhite mt20 tc bgOrange bg_inverted lh30" href="/en_us/support/manual.html" style="border:1px solid transparent">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{/block}
{block name="script"}
<script>
    $(document).ready(function () {
        $('.support').addClass("complexThemeColor");
        $(document).click(function(){
            // 下拉垂暮按钮
            hammer_screen_btn.find("a").removeClass("complexThemeColor");
            $('.support').addClass("complexThemeColor");
        });
    })
</script>
{/block}

