<style>
    /* 核心 */
    div.main_core div ul li > div {
        transform: translateY(20%);
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -o-transform: translateY(20%)
    }
    div.main_core div ul li:hover > div {
        transform: translateY(-26px);
        -webkit-transform: translateY(-26px);
        -moz-transform: translateY(-26px);
        -ms-transform: translateY(-26px);
        -o-transform: translateY(-26px)
    }
    div.main_core div ul li:hover > div i {
        color: #0099ff;
        opacity: 0
    }
    div.main_core div ul li:hover > div div p {
        opacity: 1
    }
</style>
<section>
    <div class="banner_carousel">
        <!-- banner轮播 -->
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal w100">
            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-3240px, 0px, 0px);">
                <div class="swiper-slide" style="width: 1080px;">
                    <a href="#">
                        <img class="w100" src="//files.win-star.com/images/2019/08/05/banner.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide" style="width: 1080px;">
                    <a href="#">
                        <img class="w100" src="//files.win-star.com/images/2019/08/05/banner1.jpg" alt="">
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-bullets-dynamic"
                 style="width: 80px;"><span class="swiper-pagination-bullet" style="left: -16px;"></span><span
                    class="swiper-pagination-bullet swiper-pagination-bullet-active-prev-prev"
                    style="left: -16px;"></span><span
                    class="swiper-pagination-bullet swiper-pagination-bullet-active-prev"
                    style="left: -16px;"></span><span
                    class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main"
                    style="left: -16px;"></span><span
                    class="swiper-pagination-bullet swiper-pagination-bullet-active-next"
                    style="left: -16px;"></span><span
                    class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next"
                    style="left: -16px;"></span><span class="swiper-pagination-bullet" style="left: -16px;"></span><span
                    class="swiper-pagination-bullet" style="left: -16px;"></span><span class="swiper-pagination-bullet"
                                                                                       style="left: -16px;"></span><span
                    class="swiper-pagination-bullet" style="left: -16px;"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
        <!-- 核心 -->
        <div class="main_core bgWhite">
            <div class="">
                <ul class="DisplayFlex justify-content_flex-center" style="width: 100%">
                    <li class="tc oh" style="width: 33.333%; padding: 0 4%">
                        <div class="animate_time">
                            <i class="iconfont icon-direction animate_time" style="font-size: 45px"></i>
                            <div class="mt10">
                                <h2 class="mb5" style="font-size: 12px">TECH­NOL­OGY STRAT­EGY</h2>
                                <p class="animate_time opacity_0">10 years ago, based on USB2.0, we es­tab­lished a col­lec­tion of pe­riph­eral prod­ucts and de­vel­oped tech-​driven strat­egy for the en­ter­prise.</p>
                            </div>
                        </div>
                    </li>
                    <li class="tc oh" style="width: 33.333%; padding: 0 2%">
                        <div class="animate_time">
                            <i class="iconfont icon-factory animate_time" style="font-size: 45px"></i>
                            <div class="mt10">
                                <h2 class="mb5" style="font-size: 12px">PURPOSE-​BUILT FAC­TORY</h2>
                                <p class="animate_time opacity_0">Self-​built mold man­u­fac­tur­ing and pro­duc­tion lines, ex­pand­ing busi­ness from more as­pects re­ly­ing on well-​equipped fac­tory. </p>
                            </div>
                        </div>
                    </li>
                    <li class="tc oh" style="width: 33.333%; padding: 0 2%">
                        <div class="animate_time">
                            <i class="iconfont icon-setting animate_time" style="font-size: 45px"></i>
                            <div class="mt10">
                                <h2 class="mb5" style="font-size: 12px">TECH­NI­CAL IN­NO­VA­TION</h2>
                                <p class="animate_time opacity_0">Es­tab­lished in­de­pen­dent R&amp;D cen­ter for tech­ni­cal sup­port and pro­vide cus­tomers with bet­ter prod­ucts and ser­vices.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Home 简介标题，内容 -->
<section>
    <div class="w-home-article-title-box bgWhite">
        <div class="w-home-article-title-cont">
            <div class="w-home-article-title tc">
                <h2 class="fOrange f22"> YOU HAVE GOT THE WILL, WE HAVE GOT THE WAY</h2>
                <p class="f16 mt20 fGrayBlack lh25">
                    Winstars is a highly competitive Tech-Driven company in R&amp;D and manufacturing of PC peripherals,
                    wireless products, and smart home IOT devices.<br> We streamline process for fast time to market,
                    control costs, and guarantee product quality by keeping every production step in house.
                </p>
            </div>
        </div>
    </div>
</section>
<!--<section>-->
<!--<div class="w-home-article-content-box bgWhite">-->
<!--<div class="w-home-article-content-cont">-->
<!--<div class="w-home-article-cont tc">-->
<!--<div class="w-home-article-cont-one clear bb1 bcGray">-->
<!--<div class="img oh">-->
<!--<img class="animate_time" src="https://cloud.win-star.com/index.php?user/publicLink&amp;fid=b442SlOg-VPWIfK0bH9Zmiqpy7tmiGoaEvh1dY0uZmfuAHpFekCVrqs0lXh73exfPusOjJ9NzRPksfhA-JUYnY7UjAKT9UwbMqu1vzOHm-cS9Wa7rXfoO67zILEhaM2UQypfZ__pzHyxn8p1vgFQJq_evA&amp;file_name=/product_design.jpg" width="100%" alt="">-->
<!--</div>-->
<!--<div class="text">-->
<!--<ol class="tl">-->
<!--<li class="mb20">-->
<!--<div>-->
<!--<h3 class="f14 bb2 pb2 dInlineBlack fGrayBlack_1">R&amp;D CAPACITY</h3>-->
<!--<p class="mt8 fGrayBlack lh20">Experienced and highly responsible personnel for raw material, production and inspection ensure high product quality. As a National High-Tech Company, we have a self-motivated R&amp;D team with over 120 engineers and more than 20 years of experience.<br>-->
<!--</p>-->
<!--<div class="mt10">-->
<!--<p> - Independent R&amp;D Building</p>-->
<!--<p>- International R&amp;D Team</p>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li class="mb20">-->
<!--<div>-->
<!--<h3 class="f14 bb2 pb2 dInlineBlack fGrayBlack_1 mt20">QUALIFICATIONS</h3>-->
<!--<p class="mt8 fGrayBlack lh20">With 11-year Golden Supplier and good industry reputation, you’re promised with impeccable creditability and confidence.</p>-->
<!--<div class="mt10">-->
<!--<p>Government Fully-Funded Projects:</p>-->
<!--<p>- High-Speed Exchangeable WiFi Network</p>-->
<!--</div>-->
<!--<div class="mt10">-->
<!--<p>Global Patents:</p>-->
<!--<p>- 5 Patents for Invention, 5 Patents for Utility</p>-->
<!--<p>- 16 Software Copyrights, 27 Patents for Design</p>-->
<!--</div>-->
<!--<div class="mt10">-->
<!--<p>Global Certificates:</p>-->
<!--<p>- Hundreds of Global Certificates in CE / FCC / MIC / RCM / ROHS / CB, etc.</p>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--</ol>-->
<!--</div>-->
<!--</div>-->
<!--<div class="w-home-article-cont-one clear">-->
<!--<div class="text">-->
<!--<ol class="tl">-->
<!--<li class="mb20">-->
<!--<div>-->
<!--<h3 class="f14 bb2 pb2 dInlineBlack fGrayBlack_1">FACTORY</h3>-->
<!--<p class="mt8 fGrayBlack lh20">Our plant covers 16,000 sq. m. with separate SMT lines. We keep every step in house, tooling, SMT, assembly, and packaging.</p>-->
<!--<div class="mt10">-->
<!--<p>Production-Related Dept:</p>-->
<!--<p>- Tooling House, SMT, DIP, Assembly, Packaging</p>-->
<!--<p>- Quality, Warehouse, Shipping</p>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li class="mb20">-->
<!--<div>-->
<!--<h3 class="f14 bb2 pb2 dInlineBlack fGrayBlack_1 mt20">PRODUCTION</h3>-->
<!--<p class="mt8 fGrayBlack lh20"> In accordance with the ISO standard production process, we keep a strict control on quality and ensure that consumers are provided with high-quality products.</p>-->
<!--<div class="mt10">-->
<!--<p>- Three Separate SMT Lines for PCBA</p>-->
<!--<p>- Process 250,000 PCBA per Month</p>-->
<!--<p>- Full Testing for PCBA and Finished Products</p>-->
<!--<p>- In-House Lab Testing for R&amp;D, NPI and Mass Production</p>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--</ol>-->
<!--</div>-->
<!--<div class="img oh">-->
<!--<img class="animate_time" src="https://cloud.win-star.com/index.php?user/publicLink&amp;fid=a5fc0xE5Wjwq4AlakFKBaK0NjnULiKwZez_rCG_BRIewMpTxTjs-fVrgs2FJWZ2_YMvxO9C9sYFjYqTPctnacom2yiyRgPlUviL0qmMNVNkGXq_I5y0asJWPxhaVzaDeALtGaIyvFKE&amp;file_name=/smt.jpg" width="100%" alt="">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
