<!-- w-Home-slide 首页轮播 -->
<section>
    <div class="w-home-slide-box">
        <div class="w-home-slide-cont relative">
            <div>
                <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=86c21Wj0_B6ezihvsRSZNKInoZe16L_msRn1RBBVd-qt6biDydka15I43nejE5nlHHs507h1uI87N41VeyRhj5s-AfwWtBCah-DR5I4ebyOHwE2tY5v_6vkxD1ED8RGZJho5qlhskspQAuTcCVeB&file_name=/w-carousel.jpg" width="100%" height="568px" alt="">
                <div class="w-home-slide-text absolute">
                    <h2>IF YOU CAN'T EXPRESS YOUR THOUGHTS SIMPLY, IT MEANS THAT YOU DON'T KNOW ENOUGH ABOUT IT.</h2>
                    <p>The essence of breakthroughs</p>
                    <a href="#" class="orange_white">Get it Now</a>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- w-Home-pvw 首页预览 -->
<section>
    <div class="w-home-pvw-box">
        <div class="w-home-pvw-cont">
            <ul class="clear">
                <li>
                    <div>
                        <p>
                            <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=6b302WfbXnYex4jT6kl7zaQO269c5_8F8ZMHt-JhtjnoveQj1-hKklWZl4WcHQcnCqYLt7l_nLv-wm-xRKfuIqQBULYqKGtj2jdRvHJ6HtDiyi6xhrfj_pemrkufNQv5C1U&file_name=/t.png" alt="">
                        </p>
                        <div>
                            <a href="#">
                                <h3>EXCELLENT PRODUCT DESIGN ABILITY</h3>
                                <p>Providing DEM/OEM services for 2 milion businesses around the world</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <p>
                            <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=6b302WfbXnYex4jT6kl7zaQO269c5_8F8ZMHt-JhtjnoveQj1-hKklWZl4WcHQcnCqYLt7l_nLv-wm-xRKfuIqQBULYqKGtj2jdRvHJ6HtDiyi6xhrfj_pemrkufNQv5C1U&file_name=/t.png" alt="">
                        </p>
                        <div>
                            <a href="#">
                                <h3>EXCELLENT PRODUCT DESIGN ABILITY</h3>
                                <p>Providing DEM/OEM services for 2 milion businesses around the world</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <p>
                            <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=6b302WfbXnYex4jT6kl7zaQO269c5_8F8ZMHt-JhtjnoveQj1-hKklWZl4WcHQcnCqYLt7l_nLv-wm-xRKfuIqQBULYqKGtj2jdRvHJ6HtDiyi6xhrfj_pemrkufNQv5C1U&file_name=/t.png" alt="">
                        </p>
                        <div>
                            <a href="#">
                                <h3>EXCELLENT PRODUCT DESIGN ABILITY</h3>
                                <p>Providing DEM/OEM services for 2 milion businesses around the world</p>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- w-home-article-title 首页内容文章标题 -->
<section>
    <div class="w-home-article-title-box white">
        <div class="w-home-article-title-cont">
            <div class="w-home-article-title center">
                <h2> WIN HAND IN HAND, USE SOLID RESEARCH AND DEVELOPMENT DESIGN ABILITY</h2>
                <p>
                    Winstars is a highly competitive National High-Tech company in R&D and manufacturing of PC
                    peripherals,
                    wireless products, and smart home IOT devices.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- w-home-article-cont 首页内容文章 内容 -->
<section>
    <div class="w-home-article-content-box white">
        <div class="w-home-article-content-cont">
            <div class="w-home-article-cont center">
                <div class="w-home-article-cont-one clear">
                    <div class="img">
                        <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=19357b6EqkvvcPfn7jiTGyeGjoopkeZG2dkyNHmEt2XdPZDEVRSoAsLLsTGyuGX4RsRzg94QkAm47Srg4PJdAzcO3fb5eFwaGmXz2RPLwMiNSQ4klpETyf7CWTQINUAxbeZ-ZDRM-rU9Olcj&file_name=/article.jpg" width="100%" height="378px" alt="">
                    </div>
                    <div class="text lf">
                        <ol class="center">
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <h3>INDEPENDENT R&D</h3>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120
                                        engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <h3>INDEPENDENT R&D</h3>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120
                                        engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <h3>INDEPENDENT R&D</h3>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120
                                        engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="w-home-article-cont-one clear">
                    <div class="text lf">
                        <ol class="center">
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <h3>INDEPENDENT R&D</h3>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120
                                        engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <h3>INDEPENDENT R&D</h3>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120
                                        engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <h3>INDEPENDENT R&D</h3>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120
                                        engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="img">
                        <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=19357b6EqkvvcPfn7jiTGyeGjoopkeZG2dkyNHmEt2XdPZDEVRSoAsLLsTGyuGX4RsRzg94QkAm47Srg4PJdAzcO3fb5eFwaGmXz2RPLwMiNSQ4klpETyf7CWTQINUAxbeZ-ZDRM-rU9Olcj&file_name=/article.jpg" width="100%" height="378px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- w-home-our-products 首页 我们的产品 -->
<section>
    <div class="w-home-our-products-box">
        <div class="w-home-our-products-cont">
            <h2 class="center">OUR PRODUCTS</h2>
            <div class="w-home-our-products-list clear">
                <div>
                    <div class="img relative">
                        <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=a809ArWQuX86DLSLTj5CUhlpT6gnlc7xRNzEGIGXIXTIoSyEusV-W54aMYhADDcZaWO_bxBj-YWci9xnvpbOGRYqTASPh-EKUo5JGd8TGAVt6Giu30c7exNFTUzzR-d74j6-VtpeuAsAnLHMtB_Q&file_name=/product_01.jpg" alt="">
                        <h3><a href="javascript:;">BELONG TO WIFI AP/REPEATER</a></h3>
                    </div>
                    <div class="product-box">
                        <p>DUAL BAND WORLD FIRST AC1200 WALL-PLUG WIFI MESH SYSTEM,ROUTER REPLACEMENT FOR WHOLE HOME
                            COVERAGE</p>
                        <span>WN579X3</span>
                        <span><a href="javascript:;">DETAIL</a></span>
                    </div>
                </div>
                <div>
                    <div class="img relative">
                        <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=a809ArWQuX86DLSLTj5CUhlpT6gnlc7xRNzEGIGXIXTIoSyEusV-W54aMYhADDcZaWO_bxBj-YWci9xnvpbOGRYqTASPh-EKUo5JGd8TGAVt6Giu30c7exNFTUzzR-d74j6-VtpeuAsAnLHMtB_Q&file_name=/product_01.jpg" alt="">
                        <h3><a href="javascript:;">BELONG TO WIFI AP/REPEATER</a></h3>
                    </div>
                    <div class="product-box">
                        <p>DUAL BAND WORLD FIRST AC1200 WALL-PLUG WIFI MESH SYSTEM,ROUTER REPLACEMENT FOR WHOLE HOME
                            COVERAGE</p>
                        <span>WN579X3</span>
                        <span><a href="javascript:;">DETAIL</a></span>
                    </div>
                </div>
                <div>
                    <div class="img relative">
                        <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=a809ArWQuX86DLSLTj5CUhlpT6gnlc7xRNzEGIGXIXTIoSyEusV-W54aMYhADDcZaWO_bxBj-YWci9xnvpbOGRYqTASPh-EKUo5JGd8TGAVt6Giu30c7exNFTUzzR-d74j6-VtpeuAsAnLHMtB_Q&file_name=/product_01.jpg" alt="">
                        <h3><a href="javascript:;">BELONG TO WIFI AP/REPEATER</a></h3>
                    </div>
                    <div class="product-box">
                        <p>DUAL BAND WORLD FIRST AC1200 WALL-PLUG WIFI MESH SYSTEM,ROUTER REPLACEMENT FOR WHOLE HOME
                            COVERAGE</p>
                        <span>WN579X3</span>
                        <span><a href="javascript:;">DETAIL</a></span>
                    </div>
                </div>
                <div>
                    <div class="img relative">
                        <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=a809ArWQuX86DLSLTj5CUhlpT6gnlc7xRNzEGIGXIXTIoSyEusV-W54aMYhADDcZaWO_bxBj-YWci9xnvpbOGRYqTASPh-EKUo5JGd8TGAVt6Giu30c7exNFTUzzR-d74j6-VtpeuAsAnLHMtB_Q&file_name=/product_01.jpg" alt="">
                        <h3><a href="javascript:;">BELONG TO WIFI AP/REPEATER</a></h3>
                    </div>
                    <div class="product-box">
                        <p>DUAL BAND WORLD FIRST AC1200 WALL-PLUG WIFI MESH SYSTEM,ROUTER REPLACEMENT FOR WHOLE HOME
                            COVERAGE</p>
                        <span>WN579X3</span>
                        <span><a href="javascript:;">DETAIL</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- w-home-new-product 首页 新品广告 -->
<section>
    <div class="w-home-new-product-box">
        <div class="w-home-new-product-cont">
            <a href="#">
                <img src="https://cloud.win-star.com/index.php?user/publicLink&fid=431dqzmpwa_B_q-HudFNUJD4CARjmdTPhQXDTmnFqzoTV59qy3GaUghKtchMnTnt1liVA9oGng2RTG1BNxLuv-H7zBkAA7zbmJVfusFUpaIovSdBNWlX9_zl4F_xUmY87a66_ggp&file_name=/s.jpg" width="100%" alt="">
            </a>
        </div>
    </div>
</section>
