<!-- w-Home-slide 首页轮播 -->
<section>
    <div class="w-home-slide-box">
        <div class="w-home-slide-cont">
            <a href="#">
                <img src="./img/Home/w-carousel.jpg" width="100%" height="568px" alt="">
            </a>
        </div>
    </div>
</section>

<!-- w-Home-pvw 首页预览 -->
<section>
    <div class="w-home-pvw-box">
        <div class="w-home-pvw-cont">
            <ul class="clear">
                <li>
                    <a href="#">
                        <p>
                            <img src="./img/t.png" alt="">
                        </p>
                        <div>
                            <strong>EXCELLENT PRODUCT DESIGN ABILITY</strong>
                            <p>Providing DEM/OEM services for 2 milion businesses around the world</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>
                            <img src="./img/t.png" alt="">
                        </p>
                        <div>
                            <strong>EXCELLENT PRODUCT DESIGN ABILITY</strong>
                            <p>Providing DEM/OEM services for 2 milion businesses around the world</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>
                            <img src="./img/t.png" alt="">
                        </p>
                        <div>
                            <strong>EXCELLENT PRODUCT DESIGN ABILITY</strong>
                            <p>Providing DEM/OEM services for 2 milion businesses around the world</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- w-home-article-title 首页内容文章标题 -->
<section>
    <div class="w-home-article-title-box white">
        <div class="w-home-article-title-cont">
            <div class="w-home-article-title center">
                <h2> WIN HAND IN HAND, USE SOLID RESEARCH AND DEVELOPMENT DESIGN ABILITY</h2>
                <p>
                    Winstars is a highly competitive National High-Tech company in R&D and manufacturing of PC peripherals,
                    wireless products, and smart home IOT devices.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- w-home-article-cont 首页内容文章 内容 -->
<section>
    <div class="w-home-article-content-box white">
        <div class="w-home-article-content-cont">
            <div class="w-home-article-cont center">
                <div class="w-home-article-cont-one clear">
                    <div class="img">
                        <img src="./img/Blog/article.jpg" width="100%" height="378px" alt="">
                    </div>
                    <div class="text lf">
                        <ol class="center">
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <strong>INDEPENDENT R&D</strong>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120 engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <strong>INDEPENDENT R&D</strong>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120 engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <strong>INDEPENDENT R&D</strong>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120 engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="w-home-article-cont-one clear">
                    <div class="text lf">
                        <ol class="center">
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <strong>INDEPENDENT R&D</strong>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120 engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <strong>INDEPENDENT R&D</strong>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120 engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                            <li>
                                <img src="./img/t.png" alt="">
                                <div>
                                    <strong>INDEPENDENT R&D</strong>
                                    <p>As a National High-Tech Company, we have a self-motivated R&D team with over 120 engineers and more than 20 years of experience.</p>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="img">
                        <img src="./img/Blog/article.jpg" width="100%" height="378px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row cl">
    <div class="formControls col-xs-8 col-sm-9">
        <textarea type="text" class="input-text" value="" placeholder="第一行文字" id="code" name="code" style="height: 680px">{$content}</textarea>
    </div>
    <div class="formControls col-sm-3"><span>本编辑器不能包含文本域，文本域有问题!尽量不要用文本域！也没这个需求！</span></div>
</div>