{extend name="mobile/base/base"}
{block name="title"}{$seo.title}{/block}
{block name="seo"}
<meta name="keywords" content="{$seo.keywords}">
<meta name="description" content="{$seo.description}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/frontend/mobile/css/pages/home.css">
{/block}
{block name="banner"}
<div class="row">
    <div class="banner">
        <div class="banner-title">
            <div class="banner-title-container swiper-container">
                <div class="swiper-wrapper">
                    {notempty name="banner"}
                    {volist name="banner" id="item"}
                    <div class="swiper-slide">
                        <a href="{$item.url}" style="display: block">
                            <img src="{$item.small_image}" alt="{$item.title}">
                        </a>
                    </div>
                    {/volist}
                    {/notempty}
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="banner-des-container swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="banner-des">
                        <div>
                            <span><i class="iconfont">&#xe605;</i></span>
                            <div>
                                <h3>TECH­NOL­OGY STRAT­EGY</h3>
                                <p>
                                    10 years ago, based on USB2.0, we es­tab­lished a col­lec­tion of pe­riph­eral prod­ucts and
                                    de­vel­oped tech-​driven strat­egy for the en­ter­prise.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner-des">
                        <div>
                            <span><i class="iconfont">&#xe606;</i></span>
                            <div>
                                <h3>PURPOSE-​BUILT FAC­TORY</h3>
                                <p>
                                    Self-​built mold man­u­fac­tur­ing and pro­duc­tion lines, ex­pand­ing busi­ness from more
                                    as­pects re­ly­ing on well-​equipped fac­tory.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner-des">
                        <div>
                            <span><i class="iconfont">&#xe607;</i></span>
                            <div>
                                <h3>TECH­NI­CAL IN­NO­VA­TION</h3>
                                <p>
                                    Es­tab­lished in­de­pen­dent R&D cen­ter for tech­ni­cal sup­port and pro­vide cus­tomers with
                                    bet­ter prod­ucts and ser­vices.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>

    </div>
</div>
{/block}
{block name="body"}
<div class="row">
    <div class="company">
        <div class="title">
            <h3>YOU HAVE GOT THE WILL, WE HAVE GOT THE WAY</h3>
            <p>
                Winstars is a highly competitive Tech-Driven company in R&D and manufacturing of PC peripherals,
                wireless products, and smart home IOT devices.
                We streamline process for fast time to market, control costs, and guarantee product quality by keeping
                every production step in house.
            </p>
        </div>
    </div>
</div>

{/block}
{block name="javascript"}
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script>
    /*$(document).ready(function () {
        layer.open({
            type:1,
            content:'<div id="layer" style="padding: 50px; line-height: 22px; background-color: #0099ff; color: #f1f9ff; font-weight: 300;">' +
                '<span style="font-size: 22px">校园招聘 海大站</span><br><span style="font-size: 22px">Job Fair (2019) in GDOU</span><br><br>' +
                '<span style="font-size: 18px">来加入一家快速成长中的品牌科技公司</span><br>' +
                '<span style="font-size: 18px">We want you！</span>' +
                '</div>',
            title:false,
            closeBtn: true,
            // area: '500px',
            shade: 0.3,
            resize: false,
            moveType: 1, //拖拽模式，0或者1
            btn:['Check Now'],
            yes:function () {
                location.href="{:url('/en_us/Job_Fair')}";
            },

        });
    });*/
</script>
<!--//Swiper-->
{/block}