<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Winstars Job Fair (2019) - powered by Winstars - {$website}</title>
    {block name="seo"}{/block}
    <!-- 淘宝手机APP rem适配文件 -->
    <script src="__STATIC__/frontend/lib/Flexible/Flexible.js"></script>
    <!-- header/footer样式 -->
    <link rel="stylesheet" href="__STATIC__/frontend/lib/Bootstrap/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" href="__STATIC__/frontend/lib/Swiper/css/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/frontend/lib/hc-offcanvas/hc-mobile-nav.css">
    <link rel="stylesheet" href="__STATIC__/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="__STATIC__/frontend/mobile/css/components/public.css">
    <link rel="stylesheet" href="__STATIC__/jobs/css/index.css">
    {block name="style"}

    {/block}
</head>
<body>
{block name="header"}
{include file="mobile/base/header"}
{/block}
<section>
    <div class="container">
        {block name="banner"}
        {/block}
        {block name="body"}
        <div class="row">
            <div class="hr-banner">
                <img src="__STATIC__/jobs/img/mobile/S6.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="hr-company">
                <p>
                    深圳市欣博跃电子有限公司成立于2010年是集研发、设计、生产销售、物流配送及售后服务为一体的国家高新技术企业，公司总部坐落在深圳，占据两个高新产业园（龙华区泰松工业园和光明区华强创意产业园），总占地面积超一万平方米，拥有员工500人左右，目前正处于高速发展阶段，期待有才能的你加入我们！
                </p>
            </div>
        </div>

        <div class="row">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="__STATIC__/jobs/img/swiper/1tu.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/jobs/img/swiper/2tu.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/jobs/img/swiper/3tu.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/jobs/img/swiper/4tu.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div><!--分页器-->
                <div class="swiper-button-prev"></div><!--左箭头-->
                <div class="swiper-button-next"></div><!--右箭头-->
            </div>
        </div>

        <div class="row">
            <div class="welfare">
                <div class="g-hd">
                    <span><img src="__STATIC__/jobs/img/mobile/welfare-1.png" alt=""></span>
                    <h2>福利待遇 <span>实现梦想从这里起航</span></h2>
                </div>
                <div class="des">
                    <img src="__STATIC__/jobs/img/mobile/welfare-2.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hr-video">
                <video controls="controls" poster="__STATIC__/jobs/img/dasyi.jpg">
                    <source src="//china.wavlink.com/videos/video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="row">
            <div class="hr-job">
                <div class="g-hd">
                    <span><img src="__STATIC__/jobs/img/mobile/job.png" alt=""></span>
                    <h2>招聘岗位 <span>实现梦想从这里起航</span></h2>
                </div>
                <div class="des">
                    <div>
                        <p><span>研发类：</span>硬件工程师、软件开发工程师、测试工程师、产品工程师、结构工程师（30名）</p>
                        <p><span>需求专业：</span>电子、软件、计算机或者通讯工程等理工类相关专业。</p>
                        <p><span>学历要求：</span>本科及以上</p>
                    </div>
                    <div>
                        <p><span>营销类：</span>海外业务、电商运营（国际/国内）、品牌专员、市场推广专员（35名）</p>
                        <p><span>需求专业：</span>商务英语、国际经济与贸易、小语种（日/法/德/西班牙）、有英语基础并且对营销岗位感兴趣的其他专业。</p>
                        <p><span>学历要求：</span>本科及以上</p>
                    </div>
                    <div>
                        <p><span>管培类：</span>行政专员、人力资源专员、采购专员、总经理助理、文案策划（15名）</p>
                        <p><span>需求专业：</span>人力资源管理、采购管理、经济管理、物流管理、电子商务等相关专业。</p>
                        <p><span>学历要求：</span>本科及以上</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hr-resume">
                <div class="g-hd">
                    <span><img src="__STATIC__/jobs/img/mobile/resume.png" alt=""></span>
                    <h2>简历投递 <span>实现梦想从这里起航</span></h2>
                </div>
                <div class="des">
                    <p>以下三种方式均可投递（三选一）：</p>
                    <p>方式一：参与我们的现场招聘会，现场投递纸质简历。</p>
                    <p>方式二：在智联招聘、前程无忧、boss直聘三大网站搜索“深圳市欣博跃电子有限公司”，任选一个，进行简历线上投递。</p>
                    <p>方式三：将简历投递至邮箱：<span>hr05@win-star.com</span>（邮件标题：【校招】学校名称+岗位+姓名）</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="hr-contact">
                <div class="company">
                    <img src="__STATIC__/jobs/img/mobile/contact.png" alt="">
                </div>
                <div class="des">
                    <p>公司名称：深圳市欣博跃电子有限公司</p>
                    <p>联系电话：<span>075523716083</span>（hr直线座机） <br>电话：<span>17620476095</span>张小姐（微信同号）</p>
                    <p>公司地址：<br>深圳市龙华新区大浪街道泰松工业园4栋（龙华部）<br>深圳市光明新区华强创意产业园（光明部）</p>
                    <p></p>
                </div>
            </div>
        </div>
        {/block}
    </div>
</section>
{block name="footer"}
{include file="mobile/base/footer"}
{/block}
</body>
<script src="__STATIC__/frontend/lib/JQuery/JQuery-3.4.0.js"></script>
<script src="__STATIC__/frontend/lib/Swiper/js/swiper.min.js"></script>
<script src="__STATIC__/frontend/lib/hc-offcanvas/hc-mobile-nav.js"></script>
<script src="__STATIC__/frontend/mobile/js/components/public.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {    //可选选项，自动滑动
            delay: 6000,   //自动滑动间隔
            stopOnLastSlide: false,//如果设置为true，当切换到最后一个slide时停止自动切换。（loop模式下无效）。
            disableOnInteraction: false//用户操作swiper之后，是否禁止autoplay。默认为true：停止。
        },
        speed: 1000,
        pagination: {   //分页器
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {  //左右箭头
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick: true,
        },
        grabCursor: true,//鼠标变手
        parallax: true,//dl过度效果
    });
</script>
{block name="javascript"}
{/block}
</html>